<div class='block col-12 col-lg-8'>
    <div class='block-inner h-100'>
        <div class='block-title'>Background</div>
        <div class='block-body'>
            Stonefly Systems is a development consulting company founded by three principals with diverse,
            but complimentary backgrounds in the areas of technology and product development, operations, medical devices and quality systems.
            Additional experience includes software architecture and development from design, to simulation, development, testing, automated tools and deployments and support.
            Based on the collective experience of the team, four key areas are available for consulting:
            (1) software and product development, (2) quality systems, (3) information systems support and (4) automation tool development.
        </div>
    </div>
</div>

<div class='block col-12 col-lg-4'>
    <div class='block-inner h-100'>
    <div class='block-title'>Core Values</div>
    <div class='block-body'>
        <ul>
        <li>Strive for simplicity and sustained value.</li>
        <li>Excel in service and commitments.</li>
        <li>Focus on customer satisfaction.</li>
        <li>Honesty, respect and collaboration in relationships.</li>
        </ul>
    </div>
    </div>
</div>
