<div class='block col-12 col-lg-4'>
  <div class='block-inner'>
    <div class='block-image'>
      <img src="/static/img/home-2.jpg">
    </div>
  </div>
</div>

<div class='block col-12 col-lg-8'>
  <div class='block-inner'>
    <div class='block-body'>
      <div>
        Formed in 2012, Stonefly Systems is a full-service web and product solutions company for small to medium business.
        We pride ourselves on providing customized solutions to satisfy your individual business needs.
        We bring passion, creativity, attention to detail and a collaborative team approach in order to find an ideal balance between an optimum user experience, technical excellence, quality and customer satisfaction.
      </div>
      <div class='block-body-list'>
        <ul>
          <li>Our three principals bring over 65 years of hands-on experience providing solutions for small consulting firms and large regulated companies.</li>
          <li>The team has designed and implemented award winning products that receive company, regional and national recognition.</li>
          <li>We combine hands-on experience and technical expertise in management, process, technology, operations and quality systems.</li>
          <li>Experience includes software, product and systems from architecture to production and countinous improvement.</li>
        </ul>
      </div>
      <div class='block-body-button-more'>
        <a class='btn btn-primary btn-sm' href='./applications'>Applications & Data Science</a>
        <a class='btn btn-primary btn-sm' href='./products'>Products & Embedded Software</a>
        <a class='btn btn-primary btn-sm' href='./processes'>Processes & Tools</a>
      </div>
    </div>
  </div>
</div>