<div class='block col-12 col-lg-4'>
  <div class='block-inner'>
    <div class='block-title'>Development</div>
    <div class='block-body'>
      <ul>
        <li>Behavior Driven Design/Development (BDD)</li>
        <li>Agile & Risk Driven Management</li>
        <li>Failure Modes & Effects Analysis (FMEA)</li>
        <li>Database Tracking</li>
        <li>Assembly Procedures</li>
        <li>Device Master Records</li>
        <li>Design History Files</li>
        <li>Embedded Control Code Implementation</li>
        <li>Production IT & ERD</li>
        <li>Lean/Kaizen & Six Sigma Techniques</li>
      </ul>
    </div>
  </div>
</div>
