<div class='block col-12 col-lg-4'>
  <div class='block-inner'>
    <div class='block-title'>
      <div class="block-image">
        <img src="./img/pmi-acp.png">
        <img src="./img/psm.png">
      </div>
    </div>
  </div>
</div>

<div class='block col-12 col-lg-8'>
  <div class='block-inner'>
    <div class='block-body'>
      <div>
        Our team uses our experience and tools to help you optimize your product and processes,
        full product life cycle from concept research to product introduction/deployment
        to maintenance/support and continuous improvement.
        We attack all phases with equal passion as illustrated by the studies below:
      </div>
      <div class='block-body-list'>
        <ul>
          <li>BIG Business Innovation Award: Recognized for outstanding contributions to innovation in artificial intelligence and machine learning for healthcare and wellness platforms.</li>
          <li>SmartCEO Chief Technology Officer (CXO) Excellence Award: Honored for exceptional leadership and achievements in the role of Chief Technology and Operations Officer.</li>
          <li>SmartCEO Future 50 and Team Culture Awards: Acknowledged for contributions to organizational growth and fostering a positive team culture.</li>
          <li>PC Magazine Award Winning Imaging Technology Development and Product</li>
          <li>Patented Phase Change Ink Jet Technology Platform – Keynotes and $975M Acquisition</li>
          <li>Patented Bearing Free Variable Reluctance Linear Motors Drive MacroSonic Technology</li>
          <li>Best-of-Show Server Oil-less Sonic Cooling System</li>
          <li>Industry Recognition for Break-Through Sonic Power Mixing Processing Product Platform</li>
          <li>Award Winning Molecular Diagnostic Robotics Drives Mainstream Diagnostics Lab Adoption</li>
          <li>Electro-Magnetic Molecular Extraction Enables New Applications</li>
        </ul>
      </div>
    </div>
    <div class='block-button'>
      <a class='btn btn-primary btn-sm' href='./applications'>Applications & Data Science</a>
      <a class='btn btn-primary btn-sm' href='./products'>Products & Embedded Software</a>
      <a class='btn btn-primary btn-sm' href='./patents-publications' target="_blank">Patents & Publications</a>
      <a class='btn btn-primary btn-sm' href='./about'>About Us</a>
    </div>
  </div>
</div>
