<div class='block col-12 col-lg-4'>
  <div class='block-inner'>
    <div class='block-title'>Optimization</div>
    <div class='block-body'>
      <ul>
        <li>Critical Parameter Analysis</li>
        <li>Tolerance and Stack-Up Analysis</li>
        <li>System Specification Development</li>
        <li>Module Specification Development</li>
        <li>Requirements Traceability Analysis</li>
        <li>Detail System Design</li>
        <li>Detail Mechanical Assembly</li>
        <li>Detail Component Design</li>
        <li>Embedded Control Architecture & Components</li>
        <li>Embedded Control Code Optimization</li>
      </ul>
    </div>
  </div>
</div>
