<div class='block col-12 col-lg-4'>
  <div class='block-inner'>
    <div class='block-title'>Continuous Improvement & Support</div>
    <div class='block-body'>
      <ul>
        <li>Lean/Kaizen Techniques</li>
        <li>Production Drawings and Procedures</li>
        <li>Process Documentation & Validation</li>
        <li>User and Employee Training</li>
        <li>Structured Problem Solving & Six Sigma</li>
        <li>Continuous Improvement Programs</li>
        <li>Device Master Records & Design History Files</li>
        <li>Knowledge Base & Issue Tracking Tools</li>
      </ul>
    </div>
  </div>
</div>
