<div class='block col-12 col-lg-4'>
  <div class='block-inner'>
    <div class='block-title'>Verification, Validation</div>
    <div class='block-body'>
      <ul>
        <li>Test Planning, Protocols, Execution &#038; Reports</li>
        <li>Six Sigma Techniques</li></li>
        <li>Statistical & Analysis</li>
        <li>Design of Experiments (DOE)</li>
        <li>Instrumentation & Test Stand Development</li>
        <li>Test Execution & Automation</li>
        <li>User & Pre-Clinical (Medical Device) Validations</li>
        <li>Compliance & Safety Testing/Reporting</li>
        <li>Reliability Test and Growth Programs</li>
        <li>Machine Learning & Analytics</li>
      </ul>
    </div>
  </div>
</div>
