<div class='block col-12 col-lg-4'>
  <div class='block-inner'>
    <div class='block-title'>Project Management & Tools</div>
    <div class='block-body'>
      <ul>
        <li>Project Management Tools</li>
        <li>SDLC & Waterfall</li>
        <li>Agile (Kanban/Scrum, Jira)
        <li>Requirements Tracking & Traceability</li>
        <li>Quality System Tracking</li>
        <li>Training Simulations</li>
        <li>Verification & Validation Packages</li>
        <li>Compliance/Clearance Submission & Audit Support</li>
      </ul>
    </div>
  </div>
</div>
