<div class='block col-12 col-lg-4'>
  <div class='block-inner'>
    <div class='block-title'>Regulatory &#038; Quality Systems</div>
    <div class='block-body'>
      <ul>
        <li>Quality Systems Development</li>
        <li>ISO 13485</li>
        <li>Audit Preparation (ISO/FDA)</li>
        <li>Design History/Technical File Preparation</li>
        <li>Submission Preparation &#038; Writing</li>
        <li>Quality System Regulations</li>
        <li>Medical Device Directive</li>
        <li>Corrective & Preventive Actions (CAPAs)</li>
      </ul>
    </div>
  </div>
</div>
