<div id='superfooter'>
  <ul>
    <li><a href='/frogs'>Frogs</a></li>
    <li><a href='/tasks'>Tasks</a></li>
    <li><a href='/projects'>Projects</a></li>
    <li><a href='/comments'>Comments</a></li>
    <li><a href='/events'>Events</a></li>
  </ul>
  <ul>
    <li><a href='/projects'>Lists</a></li>
    <li><a href='/items'>Items</a></li>
    <li><a href='/habits'>Habits</a></li>
    <li><a href='/inventorys'>Inventory</a></li>
    <li><a href='/shoppings'>Shopping</a></li>
  </ul>
  <ul>
    <li><a href='/healths'>Health</a></li>
    <li><a href='/foods'>Foods</a></li>
    <li><a href='/healthfoods'>Health-Foods</a></li>
    <li><a href='/recipes'>Recipes</a></li>
  </ul>
  <ul>
    <li><a href='/expenses'>Expenses</a></li>
    <li><a href='/budgets'>Budgets</a></li>
    <li><a href='/assets'>Assets</a></li>
    <li><a href='/taxs'>Taxes</a></li>
    <li><a href='/services'>Services</a></li>
  </ul>
  <ul>
    <li><a href='/wordles'>Wordle</a></li>
    <li><a href='/connects'>Connections</a></li>
    <li><a href='/individuals'>Individuals</a></li>
    <li><a href='/relations'>Relations</a></li>
    <li><a href='/storys/'>Stories</a></li>
    <li><a href='/sources'>Sources</a></li>
  </ul>
  <ul>
    <li><a href='/'>Dashboard</a></li>
    <li><a href='/pages/plan'>Plan</a></li>
    <li><a href='/contacts'>Contacts</a></li>
    <li><a href='/journal'>Journal</a></li>
  </ul>
</div>
    