@charset "UTF-8";
body {
  background: #ccc;
}

#header {
  background: black;
  color: white;
  padding: 0.5em 4em;
  margin: 0;
}
#header #header-brand {
  padding: 0;
}
#header #header-brand #header-title {
  display: inline-block;
}
#header #header-brand #header-title a {
  display: inline-block;
  font-size: 1.75em;
  font-weight: bold;
  margin: 0.25em 0.25em 0.25em 1em;
  padding: 0 0em;
  color: white;
  border-bottom: 1px solid transparent;
}
#header #header-brand #header-title a #header-title-left {
  color: #55CC56;
}
#header #header-brand #header-title a #header-title-right {
  color: #229ADD;
}
#header #header-brand #header-title a:hover {
  border-bottom: 1px solid #5c5;
  text-decoration: none;
}
#header #header-brand #header-title a.active {
  text-decoration: none;
}
#header #header-nav {
  text-align: right;
  padding: 0;
}
#header #header-nav a {
  display: inline-block;
  font-size: 1.25em;
  margin: 0.75em 0.5em;
  padding: 0;
  color: white;
  border-bottom: 1px solid transparent;
}
#header #header-nav a:hover {
  border-bottom: 1px solid #5c5;
  text-decoration: none;
}
#header #header-nav a.active {
  color: #229ADD;
  text-decoration: none;
}
#header #header-nav .social {
  margin: 0 0 0 1em;
  padding: 0.125em 0 0 0;
  width: 2em;
  height: 2em;
  text-align: center;
  vertical-align: middle;
  border-radius: 1em;
  font-size: 0.75em;
  background: #58CA58;
}

#footer {
  margin: 0;
  padding: 1em 0;
  background: black;
  color: #aaa;
  text-align: center;
}
#footer a {
  color: #aaa;
}
#footer #footer-title {
  display: block;
  margin: 0;
  padding: 0;
}
#footer #footer-title a {
  font-size: 1.5em;
  font-weight: bold;
}
#footer #footer-title a:hover {
  border-bottom: 1px solid #5c5;
  text-decoration: none;
}
#footer #footer-title a.active {
  text-decoration: none;
}
#footer #footer-title #footer-title-left {
  color: #229ADD;
}
#footer #footer-title #footer-title-right {
  color: #55CC56;
}
#footer #footer-content {
  margin: 1em 0 0;
}
#footer #footer-copyright {
  margin: 1em 0 0;
  padding: 1em 2em 0;
  color: #666;
}
#footer #footer-copyright span {
  padding-top: 0.75em;
  border-top-style: solid;
  border-top-width: thin;
  border-top-color: #666;
}

#main {
  background: white;
  color: black;
  margin: 0;
  padding: 0;
}
#main #main-banner {
  max-height: 400px;
  overflow: hidden;
}
#main #main-banner img {
  width: 100%;
}
#main #main-inner {
  padding: 0;
}
#main #main-inner #main-header {
  margin: 1em 0;
  text-align: center;
}
#main #main-inner #main-header h1 {
  font-size: 2em;
  font-weight: bold;
}
#main #main-inner .row {
  margin-bottom: 0;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}
body {
  font-size: 16px;
}
body a {
  color: #2b902b;
}
body a:hover {
  color: #1f691f;
}

.block {
  padding: 0;
}
.block .block-inner {
  height: 100%;
  border: none;
}
.block .block-inner .block-title {
  background: white;
  color: black;
  padding: 0.25em;
  text-align: center;
  font-weight: bold;
  font-size: 1.25em;
}
.block .block-inner .block-subtitle {
  background: #ddd;
  text-align: center;
  vertical-align: middle;
  min-height: 2.5em;
}
.block .block-inner .block-subtitle img {
  height: 1.5em;
  margin: 0.5em;
}
.block .block-inner .block-body {
  background: white;
  color: black;
  padding: 1em 1em 0.5em;
}
.block .block-inner .block-body .block-body-list {
  text-align: center;
}
.block .block-inner .block-body .block-body-list ul {
  margin: 1em auto;
  display: inline-block;
  text-align: left;
  max-width: 1200px;
}
.block .block-inner .block-body .block-body-button-more {
  margin-top: 0.5em;
  text-align: center;
}
.block .block-inner .block-button {
  text-align: center;
  margin: 0.5em 0.25em 1em;
}
.block .block-inner .block-button a {
  display: inline-block;
  margin: 0.25em;
  min-width: 5em;
}

.btn-primary {
  background-color: #5c5;
  border-color: #5c5;
  border-radius: 0;
  font-weight: bold;
}
.btn-primary:hover {
  background-color: #7cd87c;
  border-color: #7cd87c;
}

ul {
  padding-left: 1em;
}
ul li {
  list-style: none;
  margin-bottom: 0.15em;
  margin-top: 0.15em;
}
ul li::before {
  content: "•";
  color: #5c5;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

#awards-block .block-image, #recognition-banner .block-image {
  text-align: center;
  margin: 0;
}
#awards-block .block-image img, #recognition-banner .block-image img {
  max-width: 90%;
  height: 80px;
  margin: 0;
}
#awards-block .block-image img:first-child, #recognition-banner .block-image img:first-child {
  margin-top: 0.5em;
  margin-right: 3em;
}
#awards-block .block-body, #recognition-banner .block-body {
  text-align: center;
  padding: 0.5em 1em 1em;
}

#main #content #products-banner {
  padding: 0.5em;
}
#main #content #products-banner .block .block-inner .block-image {
  text-align: center;
  margin: 1em 0 1em;
}
#main #content #products-banner .block .block-inner .block-image img {
  height: 8em;
  margin: 0 3em;
}
#main #content #products-banner .block .block-inner .block-body {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}
#main #content #products-banner .block .block-inner .block-body ul {
  display: inline-block;
  text-align: left;
  padding: 0;
}

#main #content #mission .block .block-inner {
  padding: 2em 2em;
}
#main #content #mission .block .block-inner .block-image {
  text-align: center;
}
#main #content #mission .block .block-inner .block-image img {
  height: 15em;
}
#main #content #mission .block .block-inner .block-body {
  padding-top: 0.5em;
}

#main #content #contact-form {
  padding: 2em 0;
  background: #d8effc;
}
#main #content #contact-form .block-title {
  background: transparent;
}
#main #content #contact-form .block-body {
  margin: 0 0 1.5em;
  padding: 0;
  text-align: center;
  background: transparent;
}
#main #content #contact-form .block-image {
  padding: 1em 3em 0;
  text-align: center;
}
#main #content #contact-form .block-image img {
  width: 100%;
  max-height: 28em;
}
#main #content #contact-form .block-form {
  width: 90%;
  margin: 0 auto 0.5em;
}
#main #content #contact-form .block-form form {
  width: 100%;
}
#main #content #contact-form .block-form form .block-body-form-label {
  font-weight: bold;
  text-align: left;
}
#main #content #contact-form .block-form form .block-body-form-input {
  margin-bottom: 0.5em;
}
#main #content #contact-form .block-form form .block-body-form-input input, #main #content #contact-form .block-form form .block-body-form-input textarea {
  width: 100%;
}
#main #content #contact-form .block-form form .block-body-form-input textarea {
  height: 12em;
}
#main #content #contact-form .block-form form .block-body-form-button {
  margin-top: 0.25em;
}

#main #content #principals {
  padding: 1.5em;
  background: #ddd;
}
#main #content #principals .block {
  margin: 1.5em 0;
}
#main #content #principals .block .block-inner {
  margin: 0 1em;
  padding: 0 1em;
}
#main #content #principals .block .block-inner .block-image {
  text-align: center;
}
#main #content #principals .block .block-inner .block-image img {
  margin-bottom: -50px;
  height: 150px;
  border-radius: 75px;
}
#main #content #principals .block .block-inner .block-title {
  padding-top: 4em;
}
#main #content #principals #principals-title {
  margin: 0;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

#capabilities {
  margin: 0;
  background: #d8effc;
}
#capabilities .block {
  background: transparent;
}
#capabilities .block .block-title {
  margin: 0.5em 0 0;
  background: transparent;
}
#capabilities .block .block-image {
  margin-top: 2em;
  background: transparent;
}
#capabilities .block .block-image img {
  width: 100%;
}
#capabilities .block .block-body {
  padding: 0 2em 1em;
  background: transparent;
}
#capabilities .block .block-body .cap {
  margin: 1em 0;
  padding: 0;
  display: flex;
}
#capabilities .block .block-body .cap .cap-icon {
  float: left;
  width: 20%;
  vertical-align: top;
}
#capabilities .block .block-body .cap .cap-icon img {
  width: 80%;
  margin-top: 1em;
}
#capabilities .block .block-body .cap .cap-body {
  margin-left: 1em;
  float: right;
  width: 75%;
}
#capabilities .block .block-body .cap .cap-body .cap-title {
  font-size: 1.25em;
  font-weight: bold;
}
#capabilities .block .block-button {
  background: transparent;
}

#applications #main #content #custom-tools-summary {
  padding: 1em 2em 0;
  background: #d8effc;
}
#applications #main #content #custom-tools-summary .block-title, #applications #main #content #custom-tools-summary .block-body, #applications #main #content #custom-tools-summary .block-button {
  background: transparent;
}

#applications #main #content #custom-tools {
  padding: 1em;
  background: #d8effc;
}
#applications #main #content #custom-tools .blocks-title {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}
#applications #main #content #custom-tools .block {
  padding: 1em;
}
#applications #main #content #custom-tools .block .block-inner {
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-radius: 1em;
  background: white;
}
#applications #main #content #custom-tools .block .block-inner .block-title {
  background: transparent;
}
#applications #main #content #custom-tools .block .block-inner .block-body {
  background: transparent;
}

#applications #main #content #apps-summary {
  background: lightgrey;
  padding: 1em 2em 0;
}
#applications #main #content #apps-summary .block-title, #applications #main #content #apps-summary .block-body, #applications #main #content #apps-summary .block-button {
  background: transparent;
}

#applications #main #content #apps {
  padding: 1em;
  background: lightgrey;
}
#applications #main #content #apps .block {
  padding: 1em;
}
#applications #main #content #apps .block .block-inner {
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-radius: 1em;
  background: white;
}
#applications #main #content #apps .block .block-inner .block-title {
  background: transparent;
}
#applications #main #content #apps .block .block-inner .block-image {
  float: right;
  margin: 1em;
}
#applications #main #content #apps .block .block-inner .block-image img {
  height: 100px;
}
#applications #main #content #apps .block .block-inner .block-body {
  background: transparent;
}

#main #content #applications_summary {
  padding: 0 2em 2em;
}
#main #content #applications_summary .block-image {
  margin-top: 8em;
  text-align: center;
}
#main #content #applications_summary .block-image img {
  width: 80%;
  border-style: double;
}
#main #content #applications_summary .block-body-list {
  text-align: left;
}

#applications #main #content #dev-tools {
  padding: 1em;
  background: #d8effc;
}
#applications #main #content #dev-tools .block {
  padding: 1em;
}
#applications #main #content #dev-tools .block .block-inner {
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-radius: 1em;
  background: white;
}
#applications #main #content #dev-tools .block .block-inner .block-title {
  background: transparent;
}
#applications #main #content #dev-tools .block .block-inner .block-body {
  background: transparent;
}

#products #main #content #devices {
  background: #d8effc;
  padding: 1em 2em;
}
#products #main #content #devices .block {
  padding: 1em;
}
#products #main #content #devices .block .block-inner {
  min-height: 200px;
  background: white;
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-radius: 1em;
}
#products #main #content #devices .block .block-inner .block-title {
  background: transparent;
}
#products #main #content #devices .block .block-inner .block-subtitle {
  background: lightgrey;
}
#products #main #content #devices .block .block-inner .block-image {
  float: right;
  margin: 1em;
}
#products #main #content #devices .block .block-inner .block-image img {
  height: 100px;
}
#products #main #content #devices .block .block-inner .block-button {
  background: transparent;
}

#main #content #apps-banner {
  padding: 1.5em;
}
#main #content #apps-banner .block .block-inner .block-image {
  text-align: center;
  margin: 1em 0 1em;
}
#main #content #apps-banner .block .block-inner .block-image img {
  height: 8em;
  margin: 0 3em;
}
#main #content #apps-banner .block .block-inner .block-body {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}
#main #content #apps-banner .block .block-inner .block-body ul {
  display: inline-block;
  text-align: left;
  padding: 0;
}

#main #content #process .block-image {
  margin-top: 3em;
  text-align: center;
}
#main #content #process .block-image img {
  width: 30%;
}
#main #content #process .block-body-list {
  text-align: left;
}

#processes #main #content #process-steps {
  background: #d8effc;
  padding: 1em 2em;
}
#processes #main #content #process-steps .block {
  padding: 1em;
}
#processes #main #content #process-steps .block .block-inner {
  border: black 1px solid;
  border-radius: 1em;
  background: white;
}
#processes #main #content #process-steps .block .block-inner .block-title {
  background: transparent;
}
#processes #main #content #process-steps .block .block-inner .block-body {
  background: transparent;
  padding-top: 0.5em;
}

#main #content #background-values {
  padding: 1em;
  background: #d8effc;
}
#main #content #background-values .blocks-title {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}
#main #content #background-values .block {
  padding: 1em;
}
#main #content #background-values .block .block-inner {
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-radius: 1em;
  background: white;
}
#main #content #background-values .block .block-inner .block-title {
  background: transparent;
}
#main #content #background-values .block .block-inner .block-body {
  background: transparent;
}

#main #content #purpose {
  padding: 1em 2em 2em;
}
#main #content #purpose .block-image {
  margin-top: 1em;
  text-align: center;
}
#main #content #purpose .block-image img {
  width: 80%;
  border-style: double;
}
#main #content #purpose .block-body-list {
  text-align: left;
}

.block-menu .block-inner {
  background: transparent;
}
.block-menu .block-inner .block-title {
  display: none;
}
.block-menu .block-inner .block-body {
  padding: 0 1em !important;
  border-right-style: solid;
  border-right-width: 1px;
  background: transparent;
}
.block-menu .block-inner .block-body ul {
  padding: 0.25em 0;
}
.block-menu .block-inner .block-body ul li {
  list-style: none;
}
.block-menu .block-inner .block-body ul li:before {
  content: none;
}
.block-menu .block-inner .block-body ul li a {
  color: black;
  display: block;
  padding: 0.15em 0.25em 0.15em 0.5em;
  font-size: 1.05em;
  font-weight: 500;
  border-bottom: 1px solid transparent;
}
.block-menu .block-inner .block-body ul li a:hover {
  text-decoration: none;
  background: #d8effc;
}
.block-menu .block-inner .block-body ul li a.active {
  text-decoration: none;
  color: #229ADD;
}
.block-menu .block-inner .block-body ul ul {
  margin-left: 0.5em;
}

#main #content #agile {
  background: lightgrey;
  padding: 1.5em;
}
#main #content #agile .block-title {
  background: transparent;
}
#main #content #agile .block-image {
  padding: 1em;
  text-align: center;
}
#main #content #agile .block-image img {
  height: 10em;
  margin: 0 1em;
}

#main #content #embedded {
  padding: 0 2em 2em;
}
#main #content #embedded .block-image {
  margin-top: 1em;
  text-align: center;
}
#main #content #embedded .block-image img {
  width: 80%;
  border-style: double;
}
#main #content #embedded .block-body-list {
  text-align: left;
}

#home #main #main-banner {
  position: relative;
}
#home #main #main-banner img {
  margin-top: 0;
}
#home #main #main-banner img.img-main-banner-overlay {
  position: absolute;
  top: 10%;
  right: 10%;
  height: 80%;
  width: auto;
  border-radius: 10px;
  box-shadow: 4px 4px #ccc;
}
#home #main #main-banner #home-banner-overlay {
  position: absolute;
  top: 3em;
  right: 2em;
  background: #666;
  opacity: 0.7;
  border-radius: 1em;
  padding: 0.5em 1em 1em 2em;
}
#home #main #main-banner #home-banner-overlay #home-banner-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #55CC56;
}
#home #main #main-banner #home-banner-overlay #home-banner-title #home-banner-title-left {
  color: #55CC56;
}
#home #main #main-banner #home-banner-overlay #home-banner-title #home-banner-title-right {
  color: #229ADD;
}
#home #main #main-banner #home-banner-overlay #home-banner-tagline {
  width: 20em;
  font-size: 1.25em;
  color: white;
}
#home #main #main-header {
  display: none;
}
#home #main #content #awards {
  background: #d8effc;
}
#home #main #content #awards .block-title, #home #main #content #awards .block-body {
  background: transparent;
}
#home #main #content #contact {
  background: #d8effc;
}
#home #main #content #contact .block-title, #home #main #content #contact .block-body {
  background: transparent;
}

#applications #page #main #main-banner {
  background: #aaa;
  padding: 1em;
  text-align: center;
}
#applications #page #main #main-banner img {
  width: auto;
  height: 65px;
  margin: 0 0.25em;
  padding: 5px;
  border-style: double;
  background: white;
}
@media screen and (min-width: 800px) {
  #applications #page #main #main-banner img {
    height: 75px;
    margin: 0 1em;
  }
}
@media screen and (min-width: 1200px) {
  #applications #page #main #main-banner img {
    margin: 0 2em;
  }
}

#products #page #main #main-banner {
  background: #aaa;
  padding: 1em;
  text-align: center;
}
#products #page #main #main-banner img {
  width: auto;
  height: 65px;
  margin: 0 0.25em;
  padding: 5px;
  border-style: double;
  background: white;
}
@media screen and (min-width: 800px) {
  #products #page #main #main-banner img {
    height: 75px;
    margin: 0 1em;
  }
}
@media screen and (min-width: 1200px) {
  #products #page #main #main-banner img {
    margin: 0 2em;
  }
}

#processes #page #main #main-banner {
  background: #aaa;
  padding: 1em;
  text-align: center;
}
#processes #page #main #main-banner img {
  width: auto;
  height: 65px;
  margin: 0 0.25em;
  padding: 5px;
  border-style: double;
  background: white;
}
@media screen and (min-width: 800px) {
  #processes #page #main #main-banner img {
    height: 75px;
    margin: 0 1em;
  }
}
@media screen and (min-width: 1200px) {
  #processes #page #main #main-banner img {
    margin: 0 2em;
  }
}

.msx .block:not(.block-menu) .block-inner .block-image {
  float: left;
  margin: 2em 3em 2em 2em;
  width: 250px;
}
.msx .block:not(.block-menu) .block-inner .block-image img {
  width: 250px;
  height: auto;
}
.msx .block:not(.block-menu) .block-inner .block-body {
  padding: 2em;
  margin-left: 300px;
}
.msx .block:not(.block-menu) .block-inner .block-body ul {
  margin-top: 1em;
}
.msx .block:not(.block-menu) .block-inner .block-body ul li {
  list-style: none;
  margin-bottom: 0.15em;
  margin-top: 0.15em;
}
.msx .block:not(.block-menu) .block-inner .block-body ul li::before {
  content: "•";
  color: #5c5;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.msx .block:not(.block-menu) .block-inner .block-body ul li ul {
  margin: 0.5em 0;
}

.msx-products-linear-motors .block-image img {
  display: block;
}

.msx-services .msx .block:not(.block-menu) .block-inner .block-image {
  float: none;
  text-align: left;
  display: block;
  width: 100%;
  margin: 2em;
}
.msx-services .msx .block:not(.block-menu) .block-inner .block-image img {
  display: inline-block;
  height: 220px;
  width: auto;
}
.msx-services .msx .block:not(.block-menu) .block-inner .block-image img:nth-child(n+2) {
  margin-top: 12px;
}
.msx-services .msx .block:not(.block-menu) .block-inner .block-body {
  margin: 2em;
  padding: 0;
}

.msx-sonic-mixers .msx .block:not(.block-menu) .block-inner .block-title a {
  color: white;
  padding: 0.15em 1em;
}
.msx-sonic-mixers .msx .block:not(.block-menu) .block-inner .block-title a:hover {
  background: #5c5;
  text-decoration: none;
}
.msx-sonic-mixers .msx .block:not(.block-menu) .block-inner .block-image {
  float: none;
  text-align: center;
  display: block;
  width: 100%;
  margin: 2em 0;
}
.msx-sonic-mixers .msx .block:not(.block-menu) .block-inner .block-image img {
  display: inline-block;
  height: 220px;
  width: auto;
  margin: 1em;
}
.msx-sonic-mixers .msx .block:not(.block-menu) .block-inner .block-image img.msx-add-border {
  border: 1px solid navy;
}
.msx-sonic-mixers .msx .block:not(.block-menu) .block-inner .block-body {
  margin: 1em 1em 2em;
  padding: 0;
  text-align: center;
}

.msx-products .msx .block:not(.block-menu) .block-inner .block-title a {
  color: white;
  padding: 0.15em 1em;
}
.msx-products .msx .block:not(.block-menu) .block-inner .block-title a:hover {
  background: #5c5;
  text-decoration: none;
}
.msx-products .msx .block:not(.block-menu) .block-inner .block-image {
  float: none;
  text-align: center;
  display: block;
  width: 100%;
  margin: 2em 0;
}
.msx-products .msx .block:not(.block-menu) .block-inner .block-image img {
  display: inline-block;
  height: 220px;
  width: auto;
  margin: 1em;
}
.msx-products .msx .block:not(.block-menu) .block-inner .block-image img.msx-add-border {
  border: 1px solid navy;
}
.msx-products .msx .block:not(.block-menu) .block-inner .block-body {
  margin: 1em 1em 2em;
  padding: 0;
  text-align: center;
}

.msx-video .block:not(.block-menu) .block-inner .block-image {
  width: auto;
  float: none;
  text-align: center;
  margin: 4em 2em 2em;
}
.msx-video .block:not(.block-menu) .block-inner .block-body {
  margin: 1em;
  text-align: center;
}
.msx-video .block:not(.block-menu) .block-inner .block-body ul {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}

#contact #main #main-header {
  display: none;
}
#contact #main #content #contact-form {
  padding: 1em 0 3em;
}
#contact #main #content #contact-form .block-title {
  font-size: 2em;
}

body.about .blocks .block .block-inner .block-body .block-body-list {
  text-align: center;
}
body.about .blocks .block .block-inner .block-body .block-body-list ul {
  margin: 1em auto;
  display: inline-block;
  text-align: left;
  max-width: 1200px;
}
body.about .blocks .block .block-inner .block-body .block-body-button-more a {
  margin: 0.5em auto;
  min-width: 6em;
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
}
@media screen and (min-width: 1000px) {
  body.about .blocks .block .block-inner .block-body .block-body-button-more a {
    display: inline-block;
  }
}

body.about .blocks.principals .block .block-inner .block-body .block-body-button-more a {
  display: inline-block;
  width: 8em;
}

/*# sourceMappingURL=style.css.map */
