#applications {
  #page #main #main-banner {
    background: #aaa;
    padding: 1em;
    text-align: center;
    img {
      width: auto;
      height: 65px;
      margin: 0 0.25em;
      padding: 5px;
      border-style: double;
      background: white;
      @media screen and ( min-width: 800px ) {
        height: 75px;
        margin: 0 1em;
      }
      @media screen and ( min-width: 1200px ) {
        margin: 0 2em;
      }
    }
  }
}
