<div id='recognition-banner' class='block col-12'>
  <div class='block-inner'>
    <div class='block-title'>Award Winning Products & Experience</div>
    <div class='block-image'>
      <a href="/processes">
        <img src="{{ url_for('static', filename='img/big-award.png') }}" alt="" title="BIG Innovation Award" />
        <img src="{{ url_for('static', filename='img/recognition_banner.png') }}" alt="" title="Portfolio of Awards" />
      </a>
    </div>
    <div class='block-body'>
      <a href='/processes'>Click here</a> to see our award winning portfolio and processes.
    </div>
  </div>
</div>
  