<div class='block col-12'>
    <div class='block-inner'>
        <div class="block-title">Skills and Capabilities</div>
    </div>
</div>

<div class='block col-12 col-lg-4'>
    <div class='block-inner'>
        <div class='block-body'>
            <div class="cap">
                <div class='cap-icon'>
                    <img src="/static/img/003-requirement.png">
                </div>
                <div class="cap-body">
                    <div class="cap-title">Requirements</div>
                    <div class='cap-text'>Overal requirements development and management via Agile stories and product backlog.</div>
                    <div class="cap-link">
                        <a href='./processes'>See More &#62;&#62;</a>
                    </div>
                </div>
            </div>
            <div class="cap">
                <div class='cap-icon'>
                    <img src="/static/img/002-concept.png">
                </div>
                <div class="cap-body">
                    <div class="cap-title">Concept</div>
                    <div class='cap-text'>Concept and clould-based architecture development and management from proof-of-concept to progressive elaboration.</div>
                    <div class="cap-link">
                        <a href='./processes'>See More &#62;&#62;</a>
                    </div>
                </div>
            </div>
            <div class="cap">
                <div class='cap-icon'>
                    <img src="/static/img/004-sketch.png">
                </div>
                <div class="cap-body">
                    <div class="cap-title">Design</div>
                    <div class='cap-text'>Design from user interface and usability to micro-services, APIs and data including cloud.</div>
                    <div class="cap-link">
                        <a href='./processes'>See More &#62;&#62;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class='block col-12 col-lg-4'>
    <div class='block-inner'>
        <div class="block-image">
            <img src='/static/img/home-5.jpg'>
        </div>
    </div>
</div>

<div class='block col-12 col-lg-4'>
    <div class='block-inner'>
        <div class='block-body'>
            <div class="cap">
                <div class='cap-icon'>
                    <img src="/static/img/001-development.png">
                </div>
                <div class="cap-body">
                    <div class="cap-title">Development</div>
                    <div class='cap-text'>Test-driven Agile incremental design and development.</div>
                    <div class="cap-link">
                        <a href='./processes'>See More &#62;&#62;</a>
                    </div>
                </div>
            </div>
            <div class="cap">
                <div class='cap-icon'>
                    <img src="/static/img/005-optimization.png">
                </div>
                <div class="cap-body">
                    <div class="cap-title">Optimization</div>
                    <div class='cap-text'>Kaizen based continuous improvement and optimization based on real system usage and feedback/data.</div>
                    <div class="cap-link">
                        <a href='./processes'>See More &#62;&#62;</a>
                    </div>
                </div>
            </div>
            <div class="cap">
                <div class='cap-icon'>
                    <img src="/static/img/006-document.png">
                </div>
                <div class="cap-body">
                    <div class="cap-title">Quality Testing & Analysis</div>
                    <div class='cap-text'>Automated and user testing at all levels follwed with structued root cause analysis nad refinements.</div>
                    <div class="cap-link">
                        <a href='./processes'>See More &#62;&#62;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class='block col-12'>
    <div class='block-inner'>
        <div class="block-button">
            <a class='btn btn-primary btn-sm' href='./processes'>See More Details</a>
        </div>
    </div>
</div>

