<div class='block-menu block col-12 col-lg-2'>
  <div class='block-inner'>
    <div class='block-title'>Menu</div>
    <div class='block-body'>
      <ul>
        <li><a {{ menu == 'msx-home' ? 'class=active' : '' }} href="./msx" title="Macrosonix">Macrosonix</a></li>
        <li><a {{ menu == 'msx-sonic-mixers' ? 'class=active' : '' }} href="./msx-sonic-mixers">Sonic Mixers</a>
          <ul class='children'>
            <li><a {{ menu == 'msx-sonic-mixers-products' ? 'class=active' : '' }} href="./msx-sonic-mixers-products">Products</a></li>
            <li><a {{ menu == 'msx-sonic-mixers-performance' ? 'class=active' : '' }} href="./msx-sonic-mixers-performance">Performance</a></li>
            <li><a {{ menu == 'msx-sonic-mixers-benefits' ? 'class=active' : '' }} href="./msx-sonic-mixers-benefits">Benefits</a></li>
            <li><a {{ menu == 'msx-sonic-mixers-video' ? 'class=active' : '' }} href="./msx-sonic-mixers-video">Demo Video</a></li>
            <li><a target="_blank" href="./doc/sm_salessheet.pdf">Brochure</a></li>
            <li><a target="_blank" href="./doc/sm_datasheet.pdf">Datasheet</a></li>
          </ul>
        </li>
        <li><a {{ menu == 'msx-products' ? 'class=active' : '' }} href="./msx-products">Products</a>
          <ul class='children'>
            <li><a {{ menu == 'msx-products-compressors' ? 'class=active' : '' }} href="./msx-products-compressors">Compressors</a></li>
            <li><a {{ menu == 'msx-products-resonators' ? 'class=active' : '' }} href="./msx-products-resonators">Resonators</a></li>
            <li><a {{ menu == 'msx-products-linear-motors' ? 'class=active' : '' }} href="./msx-products-linear-motors">Linear Motors</a></li>
            <li><a {{ menu == 'msx-products-controllers' ? 'class=active' : '' }} href="./msx-products-controllers">Controllers</a></li>
          </ul>
        </li>
        <li><a {{ menu == 'msx-services' ? 'class=active' : '' }} href="./msx-services">Services</a></li>
      </ul>
    </div>
  </div>
</div>
