<div id='principals-title' class="block col-12">Meet Our Team</div>

<div class='block col-12 col-lg-4'>
  <div class='block-inner h-100'>
    <div class='block-image'>
      <img src="{{ url_for('static', filename='img/ron.png') }}">
    </div>
    <div class='block-title'>Ron Burr, PhD, PSM</div>
    <div class='block-body'>
      <ul>
        <li>Team & Technology Management</li>
        <li>Web Application Development</li>
        <li>Automated Testing & Deployment</li>
        <li>Concept Research & Feasibilty</li>
        <li>Six Sigma Quality & Reliability</li>
      </ul>
      <div class='block-body-button-more'>
        <a target="_blank" class='btn btn-primary btn-sm' href='./ron-burr'>Web Page</a>
        <a target="_blank" class='btn btn-primary btn-sm' href='/static/doc/ron-burr-bio.pdf'>Bio</a>
        <a target="_blank" class='btn btn-primary btn-sm' href='https://www.linkedin.com/in/ron-burr'>LinkedIn</a>
      </div>
    </div>
  </div>
</div>

<div class='block col-12 col-lg-4'>
  <div class='block-inner'>
    <div class='block-image'>
      <img src="{{ url_for('static', filename='img/colleen.jpg') }}">
    </div>
    <div class='block-title'>Colleen Kistler, RAC, PSM</div>
    <div class='block-body'>
      <ul>
        <li>Program Management</li>
        <li>Business Analysis & Requirements</li>
        <li>Technical Writing</li>
        <li>Quality Systems</li>
        <li>Regulatory Affairs</li>
      </ul>
      <div class='block-body-button-more'>
        <a target="_blank" class='btn btn-primary btn-sm' href='/static/doc/colleen-kistler-bio.pdf'>Bio</a>
        <a target="_blank" class='btn btn-primary btn-sm' href='https://www.linkedin.com/in/colleen-kistler-216542153/'>LinkedIn</a>
      </div>
    </div>
  </div>
</div>

<div class='block col-12 col-lg-4'>
  <div class='block-inner'>
    <div class='block-image'>
      <img src="{{ url_for('static', filename='img/suz.png') }}">
    </div>
    <div class='block-title'>Suzanne O’Connor, DBA & CRA</div>
    <div class='block-body'>
      <ul>
        <li>User Experience (UX)</li>
        <li>Business Analysis</li>
        <li>Data & Statistical Analysis</li>
        <li>System & Database Administration</li>
        <li>User Training & Guides
      </ul>
      <div class='block-body-button-more'>
        <a target="_blank" class='btn btn-primary btn-sm' href='https://www.linkedin.com/in/suzanne-oconnor/'>Bio</a>
        <a target="_blank" class='btn btn-primary btn-sm' href='https://www.linkedin.com/in/suzanne-oconnor/'>LinkedIn</a>
      </div>
    </div>
  </div>
</div>
