<div class='block col-12'>
  <div class='block-inner'>
    <div class='block-title'>Innovative, Patented & Regulatory-Cleared Products</div>
    <div class='block-image'>
      <img src="/static/img/viper.png" alt="" title="Viper Molecular Processor" />
      <img src="/static/img/sonic_mixer.jpg" alt="" title="Sonic Mixer" />
      <img src="/static/img/linear_compressor.jpg" alt="" title="Linear Compressor"/>
    </div>
    <div class='block-body'>
      <ul>
        <li>See <a href='./applications'>applications</a> and <a href='./products'>products</a> for project examples.</li>
        <li>See <a href='./processes'>processes</a> and <a href='./about'>about</a> for recognitions and contributions.</li>
      </ul>
    </div>
  </div>
</div>
