<div id='recognition-banner' class='block col-12 col-xl-6'>
  <div class='block-inner'>
    <div class='block-title'>Award Winning Products & Experience</div>
    <div class='block-image'><a href="portfolio"><img src="/static/img/recognition_banner.png"  alt="" title="See Portfolio for Awards" /></a></div>
    <div class='block-body'>
      <ul>
        <li><a href='/portfolio'>Click here</a> to see our award winning portfolio.</li>
        <li><a href='/contact'>Contact us</a> for more information and discuss your project.</li>
      </ul>
    </div>
  </div>
</div>
