.btn-primary {
  background-color: $color-button-primary;
  border-color: $color-button-primary;
  border-radius: 0;
  font-weight: bold;
  &:hover {
    background-color: lighten( $color-button-primary, 10% );
    border-color: lighten( $color-button-primary, 10% );
  }
}
