<div id="personal-awards" class="blocks row">
    <div class="block col-12 col-lg-4">
        <div class="block-inner">
            <div class="block-image">
                <img src="/static/img/SmartCXOAward.png">
                <br>
                <img style="width: 30%; border-style: none" src="/static/img/big-award.png"  alt="" title="BIG Innovation Award" />
            </div>
        </div>
    </div>
    <div class='block col-12 col-lg-8'>
        <div class='block-inner'>
            <div class='block-title'>Recognitions & Awards</div>
            <div class='block-body'>
                <div class="block-heading">BIG Business Innovation Award</div>
                <div class="block-tagline">Recognized for outstanding contributions to innovation in artificial intelligence and machine learning for healthcare and wellness platforms.</div>
                <div class="block-heading">SmartCEO Chief Technology Officer (CXO) Excellence Award</div>
                <div class="block-tagline">Honored for exceptional leadership and achievements in the role of Chief Technology and Operations Officer.</div>
                <div class="block-heading">SmartCEO Future 50 and Team Culture Awards</div>
                <div class="block-tagline">Acknowledged for contributions to organizational growth and fostering a positive team culture.</div>
                <div class="block-heading">BD Howe Award for Technology Innovation and Product Market Success</div> 
                <div class="block-tagline">Awarded for outstanding achievements in technology innovation and successfully bringing products to market.</div>
                <div class="block-heading">Powder Processing Magazine Cover Article and Best Research at ITHERM</div>
                <div class="block-tagline">Recognized for groundbreaking research and contributions in the field of powder processing, including a cover article in Powder Processing Magazine and Best Research at ITHERM.</div>
                <div class="block-heading">Tektronix Howard Vollum (Founder’s) and President’s Awards</div>
                <div class="block-tagline">Honored with both the Howard Vollum (Founder's) and President's Awards at Tektronix for significant contributions to the division from startup to $1B revenue.</div>
                <div class="block-heading">PC Magazine Technology Excellence Award (Named Recipient)</div>
                <div class="block-tagline">Received PC Magazine's Technology Excellence Award, a testament to your exceptional contributions to the field of technology.</div>
                <div class="block-heading">Over 20 Patents  &nbsp;&nbsp;<b><a href='./patents-publications'>&lt;&lt;&lt; Learn More &#62;&#62;&#62;</a></b></div>
                <div class="block-tagline">Demonstrating a strong record of innovation, learning, and a commitment to intellectual property development.</div>
                <div class="block-heading">Professional Society and University Committees & Papers/Presentations &nbsp;&nbsp;<b><a href='./patents-publications'>&lt;&lt;&lt; Learn More &#62;&#62;&#62;</a></b></div>
                <div class="block-tagline">Active involvement in important committees and contributions to academic advisory boards and research programs (OSU, VCU, WNEU, UIUC, VT) and professional societies (IST, ASME, AIAA); numerous published papers and presentations.</div>
            </div>
        </div>
    </div>
</div>
