<div id="personal-education" class="blocks row">
    <div class="block col-12 col-lg-4">
        <div class="block-inner">
            <div class="block-image">
                <img src="/static/img/uiuc.png" title="Illinois" />
                <br>
                <img src="/static/img/usc.png" title="Southern California" />
                <br>
                <img src="/static/img/uw.png" title="Washington" />
            </div>
        </div>
    </div>
    <div class='block col-12 col-lg-8'>
        <div class='block-inner'>
            <div class='block-title'>Education</div>
            <div class='block-body'>
                <div>
                    Formal education in engineering with minors in applied mathmatics and computational methods, 
                    including supercomputing applications, embedded software controls and data science.
                </div>
                <div class="block-heading">Doctorate (PhD) in Mechanical Engineering & Computational Methods</div>
                <div class="block-tagline">University of Illinois & National Center for Supercomputing (NCSA)</div>
                <div class="block-list"><ul>
                    <li>NASA Fellowship & USAF/WP Funded</li>
                    <li>Supercomputing stoichastic simulation and optimization of hypersonic turbulent combustion.</li>
                </ul></div>
                <div class="block-heading">Master of Science (MS) in Mechanical Engineering</div>
                <div class="block-tagline">University of Illinois</div>
                <div class="block-list"><ul>
                    <li>Kritzer Scholorship</li>
                    <li>Numerical simulation and optimization of thermal systems and components.</li>
                </ul></div>
                <div class="block-heading">Master of Science (MS) in Mechanical Engineering</div>
                <div class="block-tagline">University of Southern California</div>
                <div class="block-list"><ul>
                    <li>Embedded digitial and software controls systems design and algoirthm simulation & optimization.</li>
                </ul></div>
                <div class="block-heading">Bachelor of Science (BS) in Mechanical Engineering</div>
                <div class="block-tagline">University of Washington</div>
                <div class="block-list"><ul>
                    <li>Chevron & Continental Can Scholorships</li>
                    <li>Dynamics systems and embedded controls.</li>
                </ul></div>
                <div class="block-heading">Certifications & Trainings</div>
                <div class="body-list">
                    <ul>
                        <li>PMI Agile Certified Practiioner (PMI-ACP)</li>
                        <li>Agile Scrum Master (PSM)</li>
                        <li>ISO 27001 Security</li>
                        <li>Lean/Six Sigma</li>
                        <li>Design for Six Sigma</li>
                        <li>Statistical Engineering</li>
                        <li>Machine Learning (ML) and Artificial Intelligence (AI)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
