<div id="personal-experience-other" class="blocks row">
    <div class="block col-12 col-lg-4">
        <div class="block-inner">
            <div class="block-image">
                <img src="/static/img/sm_2_w_case.jpg">
            </div>
        </div>
    </div>
    <div class="block col-12 col-lg-8">
        <div class="block-inner">
            <div class="block-title">Additional Experience</div>
            <div class="block-body">
                <div class="block-heading">Platform Manager & Lead System Engineer</div>
                <div>Becton-Dickinson Medical Diagnostics</div> 
                <div class="block-list">
                    <ul>
                        <li>
                            Platform Manager and Lead System Engineer at Becton-Dickinson Diagnostics, 
                            successfully achieving FDA approval and adoption of the platform by Quest Labs.
                        </li>
                    </ul>
                </div>
                <div class="block-heading">Chief Technology & Operations Officer (CTO/COO)</div>
                <div>Macrosonix Inc &nbsp;&nbsp;<b><a href='./msx'>&lt;&lt;&lt; Learn More &#62;&#62;&#62;</a></b></div>
                <div>
                    <div class="block-list">
                        <ul>
                            <li>
                                Chief Technology & Operations Officer (CTO/COO) at Macrosonix Inc, overseeing its operations and technology. 
                                The company product and production line was licensed/acquired by DIT and Patterson-Kelly.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="block-heading">Senior Technical Fellow & R&D Director</div>
                <div>Tektronix Inc</div>
                <div>
                    <div class="block-list">
                        <ul>
                            <li>
                                Senior Technical Fellow and Director of R&D at Tektronix Inc Imaging and Processing, 
                                playing a pivotal role in building a product line and business division from the ground up, 
                                ultimately leading to its successful acquisition by Xerox after achieving $1B in revenue.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="block-heading">Program Manager & Systems Engineer</div>
                <div>Allied-Signal/Honeywell</div>
                <div class="block-list">
                    <ul>
                        <li>
                            F-15 Program Manager and Systems Engineer at Allied-Signal/Honeywell, leading the development of the Environmental Control System from concept and proposal through flight test and safety of flight acceptance.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>