<div id="personal-experience" class="blocks row">
    <div class="block col-12 col-lg-4">
        <div class="block-inner">
            <div class="block-image">
                <img src="/static/img/embedded-analytics.jpg">
            </div>
        </div>
    </div>
    <div class="block col-12 col-lg-8">
        <div class="block-inner">
            <div class="block-title">Experience</div>
            <div class="block-body">
                <div class="block-heading">Technical Program Manager / Python & Web Developer / Data Scientist / Information Security (CTO/CISO)</div>
                <div>Stonefly Systems | Parkton, MD | March 2012 - Present &nbsp;&nbsp;<b><a href='./'>&lt;&lt;&lt; Learn More &gt;&gt;&gt;</a></b></div>
                <div class="block-list">
                    <ul>
                        <li>Built and led cross-functional teams and client organizations, driving innovation and growth within the medical and IT sectors.</li>
                        <li>Managed program development, resulting in a typical 20-40% reduction in project completion time.</li>
                        <li>Utilized Agile and Lean Six Sigma methodologies, optimizing cost-efficiency and achieving a typical15-25% reduction in expenses.</li>
                        <li>Spearheaded a high-performing development team, implementing full-stack solutions.</li>
                        <li>Led teams to architect, develop, and release over 30 product software applications, utilizing a wide range of technologies.</li>
                        <li>Collaborated with cross-functional departments and stakeholders, aligning technical initiatives with corporate objectives.</li>
                        <li>Drove technology and security initiatives, overseeing a portfolio of projects involving project management (PMO), development, operations, and quality-security (DevSecOps).</li>
                        <li>Oversaw end-to-end product development process initiatives, yielding a 30% increase in operational efficiency.</li>
                        <li>Performed ISO 9001 Quality Audits and ISO 27001 Security Audits, achieving 100% compliance.</li>
                        <li>Key clients included Macrosonix, Connectus/Newsbox, R2I, Blue Water Media, Noxilizer, International Software.</li>
                        <li>Received SmartCEO CXO Excellence and BIG Business Innovation awards.</li>
                    </ul>
                </div>
                <div class="block-heading">Chief Technology & Security Officer (CTO/CISO)</div>
                <div>Burnalong / Tivity Health | Pikesville, MD | June 2020 - Present</div>
                <div class="block-list">
                    <ul>
                        <li>Directed the development and launch of a groundbreaking virtual health and wellness platform, generating a 200% increase in engagement.</li>
                        <li>Implemented a cutting-edge content delivery infrastructure, enhancing scalability and reliability.</li>
                        <li>Steered end-to-end development, including React & React-Native front-ends, Python and Node.js back-end API/micro-services, AWS cloud architecture, PostgreSQL and Dynamo databases, and AI/ML-based recommendations.</li>
                        <li>Adopted automated quality assurance testing, achieving a consistent 99.99% uptime SLA.</li>
                        <li>Conducted ISO 9001 Quality Audits and ISO 27001 Security Audits, ensuring 100% compliance.</li>
                        <li>Driven and grown to acquisition by integration into Tivity Health.</li>
                    </ul>
                </div>
                <div class="block-heading">Chief Technology & Operating Officer (CTO/COO)</div>
                <div>Canton Group | Baltimore, MD | Feb 2014 - Jan 2019</div>
                <div class="block-list">
                    <ul>
                        <li>Orchestrated business operations including portfolio development, support, quality assurance, risk assessment, and requirements management systems.</li>
                        <li>Managed end-to-end project lifecycles, maintaining stringent quality systems and supervising user requirements, design, and technology concepts.</li>
                        <li>Established and nurtured strategic client relationships, translating to a 30% increase in partnership growth.</li>
                        <li>Devised and executed the seamless integration of systems and applications across various domains.</li>
                        <li>Migrated legacy software and technology, modernizing and automating systems, reducing IT maintenance costs by 20%.</li>
                    </ul>
                </div>
                <div class="block-heading">Chief Technology Officer (CTO)</div>
                <div>CSA Medical, Baltimore, MD | March 2008 - March 2012</div>
                <div class="block-list">
                    <ul>
                        <li>Crafted, mentored, and led cross-functional teams in R&D, Operations, Service, Quality-Regulatory, and IT.</li>
                        <li>Innovated and developed a patented cryosurgery system, obtained FDA/ISO regulatory approval, and applied Six Sigma continuous improvement processes.</li>
                        <li>Designed, developed, deployed, and maintained a cloud-based information technology & compliance infrastructure.</li>
                        <li>Driven to acquisition by a large medical organization (Steris Endoscopy).</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
