<div id="personal-hobbies" class="blocks row">
    <div class="block col-12 col-lg-4">
        <div class="block-inner">
            <div class="block-image">
                <img src="/static/img/oyster_cove_1.jpeg">
                <br>
                <img style="max-width: 50%" src="/static/img/logo.png">
            </div>
        </div>
    </div>
    <div class="block col-12 col-lg-8">
        <div class="block-inner">
            <div class="block-title">Personal Interests</div>
            <div class="block-body">
                <div class="block-heading">Environmental & Outdoors</div>
                <div class="block-list">
                    <ul>
                        <li>Long-term board member and participant in lake management committee.</li>
                        <li>Participation in various other environmental and conservation organizations/facilities in Seattle, Eastern Shore and Prettyboy Reservoir.</li>
                        <li>Volunteer fish hatchery and farmer (salmon) contributor.</li>
                        <li>Avid fly and saltwater fisherman and participant is fish environment sustainability/structures.</li>
                        <li>Crabbing enthusiast.</li>
                        <li>Acquarist.</li>
                    </ul>
                </div>
                <div class="block-heading">Building</div>
                <div class="block-list">
                    <ul>
                        <li>Home and deck/porch restorations and modernizations.</li>
                        <li>Waterfront docks and boat lifts.</li>
                        <li>Furniture and cabinetry - live edge.</li>
                        <li>Classic car restorations - 1967 Lemans Convertible and 1985 Chevrolet Pick-up.</li>
                        <li>Journeyman machinist - aircraft and technology prototype fabrication.</li>
                    </ul>
                </div>
                <div class="block-heading">Family</div>
                <div class="block-list">
                    <ul>
                        <li>Proud parent of 2 VA Tech graduates.</li>
                        <li>Family historian and genealogy.</li>
                        <li>Cooking/BBQ and family recipe advocate/historian.</li>
                    </ul>
                </div>
                <div class="block-heading">Education</div>
                <div class="block-list">
                    <ul>
                        <li>Professor parent, raised to value education.</li>            
                        <li>Committees and contributions to academic advisory boards and research programs (OSU, VCU, WNEU, UIUC, VT).</li>
                        <li>Professional societies (IST, ASME, AIAA); numerous published papers and presentations.</li>
                        <li>Over 20 patents filed and issued.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
