<div id="personal-interests" class="blocks row">
    <div class='block col-12 col-lg-4'>
        <div class='block-inner'>
            <div class='block-image'>
                <img src="/static/img/automation.jpg">
            </div>
        </div>
    </div>
    <div class='block col-12 col-lg-8'>
        <div class='block-inner'>
            <div class="block-title">Professional Interests</div>
            <div class="block-body">
                <div class="block-list">
                    <ul>
                        <li>Product Technology & Innovation Leadership</li>
                        <li>Python & API Development</li>
                        <li>Full-Stack & React Development</li>
                        <li>Data Engineering</li>
                        <li>Data Science, Machine Learning & Aritifical Intelligence</li>
                        <li>DevOps & Business Process Automation</li>
                        <li>Embedded Software & Controls</li>
                        <li>Cloud & High-Performance Computing</li>
                        <li>Information System Security</li>
                        <li>Agile & Hybrid Program Management</li>
                        <li>Coaching & Mentoring</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
