<div id="personal-patents" class="blocks row">
    <div class="block col-12 col-lg-2">
        <div class="block-inner">
            <div class="block-image">
                <img src="/static/img/dot_size_modulation_patent.png">
                <br>
                <img src="/static/img/home-drop-patent.png">
                <br>
                <img src="/static/img/lmc_motor_cross.jpg">
                <br>
                <img src="/static/img/othr_rms.jpg">
            </div>
        </div>
    </div>
    <div class='block col-12 col-lg-10'>
        <div class='block-inner'>
            <div class='block-title'>Patents List - Ron Burr @ Stonefly Systems</div>
            <div class='block-body'>
                <div class="block-heading">TBD	Ink jet printhead with improved purgability (filed by Xerox).</div>
                <div class="block-heading">10/755,243	Drop generating apparatus.</div>
                <div class="block-heading">10/755,700	Drop generating apparatus.</div>
                <div class="block-heading">60/501,889	Improved acoustic fluidized bed.</div>
                <div class="block-heading">60/509,520	Acoustic fluidized bed.</div>
                <div class="block-heading">6,514,047	Linear resonance pump and methods for compressing fluid.</div>
                <div class="block-heading">6,390,582	Method for reducing thermal aging in an ink jet print head.</div>
                <div class="block-heading">6,305,773	Apparatus and method for drop size modulated ink jet printing.</div>
                <div class="block-heading">6,260,963	Ink jet print head with damping feature.</div>
                <div class="block-heading">6,213,580	Apparatus and method for automatically aligning print heads.</div>
                <div class="block-heading">6,196,675	Apparatus and method for image fusing.</div>
                <div class="block-heading">6,113,231	Phase change ink printing architecture suitable for high speed imaging.</div> 
                <div class="block-heading">6,003,971	High-performance ink jet print head having an improved ink feed system.</div>
                <div class="block-heading">5,907,338	High-performance ink jet print head .</div>
                <div class="block-heading">5,781,212	Purgeable multiple-orifice drop-on-demand ink jet print head having improved jetting performance and methods of operating it.</div>
                <div class="block-heading">5,764,252	Method and apparatus for producing ink intensity modulated ink jet printing.</div>
                <div class="block-heading">5,736,993	Enhanced performance drop-on-demand ink jet head apparatus and method.</div>
                <div class="block-heading">5,689,291	Method and apparatus for producing dot size modulated ink jet printing.</div> 
                <div class="block-heading">5,677,718	Drop-on-demand ink jet print head having improved purging performance.</div>
                <div class="block-heading">5,635,964	Ink-jet print head having improved thermal uniformity.</div>
                <div class="block-heading">5,610,645	Ink jet head with channel filter.</div>
                <div class="block-heading">5,495,270	Method and apparatus for producing dot size modulated ink jet printing.</div>
                <div class="block-heading">5,455,615	Multiple-orifice drop-on-demand ink jet print head having improved purging and jetting performance.</div>
            </div>
        </div>
    </div>
</div>