<div id="personal-publications" class="blocks row">
    <div class="block col-12 col-lg-2">
        <div class="block-inner">
            <div class="block-image">
                <img src="/static/img/sm_2_market_smaller.jpg">
                <br>
                <img src="/static/img/MacroSonixLinearCompressor.jpg">
                <br>
                <img src="/static/img/truFreezeAward.png">
            </div>
        </div>
    </div>
    <div class='block col-12 col-lg-10'>
        <div class='block-inner'>
            <div class='block-title'>Selected Publications List - Ron Burr @ Stonefly Systems</div>
            <div class='block-body'>
                <div class="block-heading">Lawrenson, C.C., V.W. Popham, and R.F. Burr, “Linear Resonance Compressor Driven by a Variable Gap-Reluctance Linear Motor,” International Compressor Engineering Conference, 2002.</div>
                <div class="block-heading">Bash, C.E., D.P. Chandrakant, and A. Beitelmal, and R.F. Burr, “Acoustic Compression for the Thermal Management of Multi-Load Electronic Systems,” ITHERM, June 2001.  Received “Best of Session Award.”  Also published in IEEE Transactions on Components and Packaging Technologies.</div>
                <div class="block-heading">Popham, V.W., C.C. Lawrenson, R.F. Burr, and B. Lipkens, “Variable Gap-Reluctance Linear Motor with Application to Linear Resonance Compressors,” ASME International Mechanical Engineering Congress and Exposition, 2001.</div>
                <div class="block-heading">Berger, S.S., R.F. Burr, D.A. Tence, and J. Padgett, "Manifold Acoustics Modeling," IST International Conference on Digital Printing Technologies, 1997.  Reprinted in “Advances in Ink Jet Technology,” Vol. 2, 1999.</div>
                <div class="block-heading">Gilmore, P., S.S. Berger, R.F. Burr and J. Burns, "Automated Experimental Optimization Method for Ink Jet Design," IST International Conference on Digital Printing Technologies, 1997.  Reprinted in “Advances in Ink Jet Technology,” Vol. 2, 1999.</div>
                <div class="block-heading">Burr, R.F., D.A. Tence, and S.S. Berger, "Multiple Dot Size Fluidics for Phase Change Piezoelectric Ink Jets," IST International Conference on Digital Printing Technologies, pp. 12-18, 1996 (Invited).  Reprinted in “Advances in Ink Jet Technology,” Vol. 2, 1999.</div>
                <div class="block-heading">Burr, R.F., S.S. Berger and D.A. Tence, Overview of Phase Change Ink Jet Fluids Modeling and Design," ASME FED-Vol. 239, pp. 545-552, 1996 (Invited Paper).</div>
                <div class="block-heading">Titterington, D.T., and R.F. Burr, "Use of Experimental Design Techniques to Develop a Formulation Model for Phase Change Ink Jet Inks," Tektronix Technical Conference, 1994.</div>
                <div class="block-heading">Le, H., R.F. Burr and X.C. Xu, “Piezoelectric Ink Jet Driver Performance Evaluation Using Laser Inferometry,” IST Conference on Digital Printing Technologies, 1993.</div>
                <div class="block-heading">Leep, L.J., J.C. Dutton and R.F. Burr, "Simulations of Compressible Mixing Layers," AIAA Journal, Vol. 31, No. 11, pp. 2039-2046, 1994.
                <div class="block-heading">Leep, L.J., R.F. Burr, and J.C. Dutton, "Three-Dimensional Simulations of Compressible Mixing Layers and Implications for Modeling," National Fluid Dynamics Conference, June 1992.
                <div class="block-heading">Burr, R.F., "Numerical Modeling and Simulation of Compressible Reacting Turbulent Shear Layers," Ph.D. Thesis, University of Illinois at Urbana-Champaign, May 1991.</div>
                <div class="block-heading">Burr, R.F. and J.C. Dutton, "Numerical Simulations of Compressible and Reacting Temporal Mixing Layers and Implications for Modeling," AIAA-91-1718, June 1991.</div>
                <div class="block-heading">Son, S.F., R.F. Burr, M.Q. Brewster, J.C. Finlinson, and D. Hanson-Parr, "Nonsteady Burning of Solid Propellants with an External Radiant Heat Flux:  A Comparison of Models with Experiment," AIAA/SAE/ASME/ASEE 27th Joint Propulsion Conference, June 1991.</div>
                <div class="block-heading">Burr, R.F. and J.C. Dutton, "Numerical Modeling of Compressible Reacting Turbulent Shear Layers," AIAA 21st Fluid Dynamics Conference, AIAA-90-1463, June 1990.</div>
                <div class="block-heading">Dutton, J.C., R.F. Burr, S.G. Goebel, and N.L. Messersmith, "Studies of Compressibility and Mixing in Turbulent Free Shear Layers," 12th Symposium on Turbulence, September 1990.</div>
                <div class="block-heading">Burr, R.F. and J.P. Renie, "Evaluation and Enhancement of Integral Fin Heat Exchanger Air-Side Performance," 25th National Heat Transfer Conference, July 1988.</div>
                <div class="block-heading">Burr, R.F., "Evaluation and Enhancement of Integral Fin Heat Exchanger Air-Side Performance," Masters Thesis, University of Illinois at Urbana-Champaign, January 1988.</div>
                <div class="block-heading">Burr, R.F. and J. Rousseau, "Analysis of a Desiccant Cooling System," AiResearch Manufacturing Company Final Report, Gas Research Institute, 1983.</div>
            </div>
        </div>
    </div>
</div>