<div id="personal-skills-technical" class="blocks row">
    <div class='block col-12 col-lg-4'>
        <div class='block-inner'>
            <div class='block-image'>
                <img src="/static/img/data_sci.jpg">
                <br>
                <img style="border-style: none; width: 30%" src="/static/img/python_color.jpg">
            </div>
        </div>
    </div>
    <div class="block col-12 col-lg-8">
        <div class="block-inner">
            <div class="block-title">Technical Skills & Experience</div>
            <div class="block-body">
                <div><span class="block-highlight">Programming Languages:</span> Python, Java, C/C++, PHP, JavaScript, Node.js, HTML, CSS, SASS, SQL</div>
                <div><span class="block-highlight">Web Development:</span> React, React-Native, Bootstrap, AJAX, Django, Flask, FastAPI, Spring, Laravel, Drupal, HTML, CSS, JSON</div>
                <div><span class="block-highlight">Data Management:</span> PostgreSQL, MySQL, MongoDB, AWS RDS/Aurora, Dynamo, Redis & Memcached</div>
                <div><span class="block-highlight">Cloud Computing:</span> AWS (Amazon Web Services), AWS Lambda, AWS ELB, AWS EC2, AWS S3 (Simple Storage Service), AWS API Gateway, AWS CloudWatch, AWS SES, AWS SNS, AWS SQS (Simple Email Service/Notification Service/Queue Services), AWS Personalize, AWS Kendra, AWS CloudFormation, Terraform, Apache/Nginx/LAMP</div>
                <div><span class="block-highlight">Configuration Management & Automation:</span> Git, GitLab, Bitbucket, Jenkins, Docker</div>
                <div><span class="block-highlight">Big Data & Analytics:</span> Snowflake, Hadoop, Spark, Tableau, Business Intelligence (BI), Reporting, Algorithms, Modeling, Mining, Mathematics & Statistics</div>
                <div><span class="block-highlight">Data Science:</span> Scikit-Learn, Numpy, Pandas, Matplotlib, Plotly, NLP Toolkit</div>
                <div><span class="block-highlight">Deep Learning & LLM:</span> PyTorch, TensorFlow, ChatGPT, DALL-E, Sagemaker, Personalize, Kendra</div>
                <div><span class="block-highlight">Testing & Quality Assurance:</span> Test Case Development, Automated Testing (End-to-End, Unit), Cypress, Robot Framework</div>
                <div><span class="block-highlight">Operating Systems:</span> Linux, Windows, Android, iOS</div>
                <div><span class="block-highlight">Networking & Security:</span> Networking Protocols, API Integration, REST</div>
                <div><span class="block-highlight">User Interface (UI) & Accessability:</span> ADA/WCAG Compliance, Atomic ADA, pa11y, User Experience (UX)</div>
                <div><span class="block-highlight">Program Management:</span> Jira, Trello, Confluence, MS Project, Teams, Slack, Zoom, Meet</div>
                <div><span class="block-highlight">Information Systems Security, Quality & Compliance:</span>  ISO 27001, ISO 9001, NIST 800-53, GDPR, FDA 510(k), HIPPA, Metrics and Objectives, Policies and Procedures (SOPs), Risk Management, Asset Management, Change Management, Vendor Management, Business Continuity, Disaster Recovery (DR), Data Governance, Root Cause Analysis (RCA), Corrective and Preventive Actions (CAPAs), Management Reviews and Internal/External Audits</div>
            </div>
        </div>
    </div>
</div>

<div id="personal-skills-core" class="blocks row">
    <div class='block col-12 col-lg-4'>
        <div class='block-inner'>
            <div class='block-image'>
                <img src="/static/img/agile-flow.jpg">
                <br>
                <img style="border-style: none;" src="/static/img/psm.png">
            </div>
        </div>
    </div>
    <div class="block col-12 col-lg-8">
        <div class="block-inner">
            <div class="block-title">Core Competencies & Roles</div>
            <div class="block-body">
                <div><span class="block-highlight">Software Engineering:</span> Proficient in full-stack web application and mobile application development.</div>
                <div><span class="block-highlight">Problem-Solving & Decision-Making:</span> Skilled in identifying complex issues, troubleshooting, and implementing effective solutions including root cause analysis (RCA) and corrective & preventive actions (CAPA).</div>
                <div><span class="block-highlight">Strategy & Planning:</span> Experienced in formulating IT strategies and long-term planning to align technology with business plans and goals including vision, roadmaps and structured decision making.</div>
                <div><span class="block-highlight">Leadership:</span> Proven leadership capabilities in guiding cross-functional teams and achieving project objectives.</div>
                <div><span class="block-highlight">Organizational Skills:</span> Exceptional organizational abilities to manage tasks, projects, and resources efficiently.</div>
                <div><span class="block-highlight">Communication:</span> Strong written, visualization and verbal skills to convey concepts to all stakeholders.</div>
                <div><span class="block-highlight">Interpersonal:</span> Effective at building and maintaining positive relationships with colleagues, clients, and stakeholders.</div>
                <div><span class="block-highlight">Teamwork:</span> Track record of recruiting, building, recognizing and participating in collaborative high performance teams.
                <div><span class="block-highlight">Program Management:</span> Proven and certified in project management, concept to launch (SDLC, Agile, PMI-ACP, PSM).</div>
                <div><span class="block-highlight">System Administration:</span> Proficient in system administration, including high 99.99% SLA cloud platforms/products.</div>
                <div><span class="block-highlight">Data Science & Statistics:</span> Skilled in data analysis, data science, and statistical methods, including generating insights, visualizations, processing pipelines and predictive models including python toolkits and deep learning/LLMs.</div>
                <div><span class="block-highlight">Process Automation:</span> Skilled and experienced at process automation in both virtual (RPA, AI) and physical systems.</div>
                <div><span class="block-highlight">Proposals & Business Development:</span>  Proficient developing and integrating solutions and responses to customer needs and RFPs, both as a subject matter expert (SME) and coordinator/facilitator; versed at both writing (e.g. proposals, reports) and presentations.</div>
                <div><span class="block-highlight">Contracts & Negotiations:</span> Experienced in contract management and negotiation processes.</div>
                <div><span class="block-highlight">Customer Support & Satisfaction:</span>  Extensive customer service and relationship management including custom systems integration (e.g., EDI).</div>
            </div>
        </div>
    </div>
</div>
