<div id="personal-summary" class="blocks row">
    <div class='block col-12 col-lg-4'>
        <div class='block-inner'>
            <div class='block-image'>
                <img src="/static/img/ron.png">
            </div>
        </div>
    </div>
    <div class='block col-12 col-lg-8'>
        <div class='block-inner'>
            <div class="block-title">Professional Summary</div>
            <div class="block-body">
                <div class="block-list">
                    <ul>
                        <li>A builder at heart: teams, organizations, products, processes and automation - including taking several software and hardware products from start-up concept to market launch/adoptin and then acquistion/integration (e.g., healthcare).</li>
                        <li>Accomplished and award-winning technical leader, architect, data engineer/scientist and python/full-stack Developer.</li>
                        <li>Experienced establishing roadmaps and spearheading innovation for product development and operational improvements across diverse cross-functional domains.</li>
                        <li>Exceptional structured problem-solving and decision-making abilities with a well-honed systems and service oriented mindset.</li>
                        <li>Dedicated to and hands-on in propelling cutting-edge initiatives in rapid agile product development, simulations/prototypes, testing, artificial intelligence and data analytics to achieve outstanding results. 
                        <li>Consistent track record guiding and focusing teams and organizations to achieving short and long-term goals and objectives.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
