<div id="personal-training" class="blocks row">
    <div class='block col-12 col-lg-4'>
        <div class='block-inner'>
            <div class='block-image'>
                <img src="/static/img/automation.jpg">
            </div>
        </div>
    </div>
    <div class='block col-12 col-lg-8'>
        <div class='block-inner'>
            <div class="block-title">A lifetime of Learning</div>
            <div style="text-align: center">Some recent courses below.</div>
            <div class="block-body">
                <div class="block-heading">Software Development</div>
                <div class="block-list">
                    <ul>
                        <li>Advanced Python</li>
                        <li>Python Programming Language</li>
                        <li>Python Essentials Training</li>
                        <li>React & React-Native</li>
                        <li>Node.js: Real-Time Web with Socket.IONode.js: Real-Time Web with Socket.IO</li>
                        
                    </ul>
                </div>
                <div class="block-heading">Data Engineering & Science</div>
                <div class="block-list">
                    <ul>
                        <li>Machine Learning with Python Decision Trees</li>
                        <li>Prompt Engineering for Generative AI</li>
                        <li>Machine Learning with Python: Foundations</li>
                        <li>PyTorchPyTorch</li>
                        <li>Machine Learning and AI Foundations: Recommendations</li>
                        <li>Machine Learning with Scikit-LearnMachine Learning with Scikit-Learn</li>
                        <li>The Data Science of Retail, Sales, and CommerceThe Data Science of Retail, Sales, and Commerce</li>
                        <li>Statistical Engineering (Shainin Institute)</li>
                    </ul>
                </div>
                <div class="block-heading">Operations & Quality</div>
                <div class="block-list">
                    <ul>
                        <li>Programming Foundations: Software Testing/QA</li>
                        <li>CloudFormation</li>
                        <li>ISO 27001 Security</li>
                        <li>GDPR Compliance Essentials</li>
                    </ul>
                </div>
                <div class="block-heading">Program Management, Process Optimiztation & Compliance</div>
                <div class="block-list">
                    <ul>
                        <li>Agile Professional Scrum Master (Scrum.org)</li> 
                        <li>PMI Agile Certified Practitioner (PMI-ACP)</li>
                        <li>PMI-ACP Exam Prep Seminar</li>
                        <li>Lean Six SigmaLean Six Sigma</li>
                        <li>Design for Six Sigma</li>
                        <li>3D Design (Solidworks) (Macrosonix)</li>
                        <li>ISO 9001:2015ISO 9001:2015</li>
                        <li>ISO 27001 Security</li>
                        <li>GDPR Compliance Essentials</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
