#main #content #applications_summary {
    padding: 0 2em 2em;
    .block-image {
        margin-top: 8em;
        text-align: center;
        img {
            width: 80%;
            border-style: double;
        }
    }
    .block-body-list {
        text-align: left;
    }
}