#main #content #mission .block .block-inner {
    padding: 2em 2em;
    .block-image {
        text-align: center;
        img {
            height: 15em;
        }
    }
    .block-body {
        padding-top: 0.5em;
    }
}
