#main #content #process {
    .block-image {
        margin-top: 3em;
        text-align: center;
        img {
            width: 30%;
        }
    }
    .block-body-list {
        text-align: left;
    }
}