{% extends "./layout/default.html" %}
{% set page='home' %}
{% set css='home' %}
{% set menu = 'home' %}

{% block main_banner %}
  <div id='home-banner-overlay'>
    <div id="home-banner-title">Burr Family Reunion</div>
    <div id="home-banner-tagline">June 9-16, 2025</div>
    <div id="home-banner-password">
      Password:
      <input id="home-banner-input"/>
    </div>
  </div>
  <img src="{{ url_for('static', filename='img/home-drop-with-overlay.jpg') }}">
{% endblock %}

{% block main_title %}
  <h1>Burr Family Page</h1>
{% endblock %}

{% block content %}

<div id='team' class='blocks row'>
  <div class="section-title col-12">Attendees</div>
  <div class="section-body col-12">
    <table>
      <tr><th>Group</th><th>Schedule</th></tr>
      <tr><td>Ron & Teri</td><td>June 9-16 (Mon-Mon)</td></tr>
      <tr><td>Eva & Elise</td><td>June 11-15 (Wed-Sun)</td></tr>
      <tr><td>Shawna & Bruce</td><td>???</td></tr>
      <tr><td>Todd, Jane & Company</td><td>???</td></tr>
      <tr><td>Joan</td><td>???</td></tr>
      <tr><td>Nikki, Chuck & Cora</td><td>???</td></tr>
    </table>
  </div>
</div>

<div id='agenda' class='blocks row'>
  <div class="section-title col-12">Agenda</div>
  <div class="section-body col-12">
    <table>
      <tr>
        <th>Event</th>
        <th>Schedule</th>
        <th>Notes</th>
      </tr>
      <tr>
        <td>Fishing</td>
        <td>June 12 (Thu) - Afternoon</td>
        <td></td>
      </tr>
      <tr>
        <td>West Seattle/Alki</td>
        <td>???</td>
        <td></td>
      </tr>
      <tr>
        <td>Seattle - Downtown</td>
        <td>???</td>
        <td></td>
      </tr>
      <tr>
        <td>Seattle - Aquarium & Space Needle</td>
        <td>???</td>
        <td></td>
      </tr>
      <tr>
        <td>Lake Potluck</td>
        <td>???</td>
        <td></td>
      </tr>
      <tr>
        <td>Renton Top Golf</td>
        <td>???</td>
        <td></td>
      </tr>
      <tr>
        <td>Winlock &/or Riverview (Mt Raineer)</td>
        <td>???</td>
        <td></td>
      </tr>
      <tr>
        <td>Seattle - Bell Harbor</td>
        <td>???</td>
        <td></td>
      </tr>
    </table>
  </div>
</div>

<style>
  #main #main-banner {
    max-height: 200px;
    #home-banner-title, #home-banner-tagline {
      text-align: center;
    }
  }
.section-title {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  margin-top: 0.5em;
}
.section-body {
  text-align: center;
  margin: 0.5em auto;
  #team, #agenda {
    text-align: center;
    .section-title {
      margin: 0.5em auto;
      text-align: center;
    }
  }
  table {
    border-color: black;
    margin: 1em auto;
    th, td {
      border-style: solid;
      border-width: 2px;
      border-color: #999;
      padding: 0.25em 2em;
      background-color: white;
    }
    td {
      text-align: left;
    }
    th {
      background-color: #bbb;
    }
  }
}
#home-banner-password {
  text-align: center;
  margin-top: 0.25em;
  font-weight: bold;
  color: #ccc;
}
#home-banner-input {
  color: black;
}
#agenda, #team {
  background: #ddd;
}
</style>
<script>
  $(document).ready(function() {
    $('#team').hide();
    $('#agenda').hide();
    $('#home-banner-input').on('input', function() {
      const password = $(this).val();
      if (password == 'salmon') {
        $('#team').show();
        $('#agenda').show();
      } else {
        $('#team').hide();
        $('#agenda').hide();
      }
    });
  });
</script>
{% endblock %}
