<div class='block col-12 col-md-6 col-xl-4'>
    <div class='block-inner'>
        <div class='block-title'>News Distribution Service</div>
        <div class='block-image'><a><img src="/static/img/newsbox.PNG" alt="news-distribution-service" /></a></div>
        <div class='block-body clearfix'>
            Custom PHP to distribute news, share profiles, integrate with social networks, link to RSS feeds, custom styling.
        </div>
        <div class='block-button'>
        <a class='btn btn-primary btn-sm' target="_blank" href='http://newsbox.com'>View Site</a>
        </div>
    </div>
</div>

<div class='block col-12 col-md-6 col-xl-4'>
    <div class='block-inner'>
        <div class='block-title'>Surgical Center Web</div>
        <div class='block-image'><a><img src="/static/img/VSA.PNG" alt="surgical-center" /></a></div>
        <div class='block-body clearfix'>Client site using Drupal with custom theming and styling</div>
    </div>
</div>

<div class='block col-12 col-md-6 col-xl-4'>
    <div class='block-inner'>
        <div class='block-title'>Macrosonix Web Development</div>
        <div class='block-image'><a><img src="/static/img/MSXSite.png" alt="macrosonix" /></a></div>
        <div class='block-body clearfix'>
            Product development and technology.
        </div>
        <div class='block-button'>
            <a class='btn btn-primary btn-sm'  href='/msx'>Macrosonix, Inc.</a>
            <a class='btn btn-primary btn-sm' target='_blank' href='http://www.ditusa.com/sonic_mixers.php'>DIT</a>
        </div>
    </div>
</div>

<div class='block col-12 col-md-6 col-xl-4'>
    <div class='block-inner'>
        <div class='block-title'>Custom Product Management Tool</div>
        <div class='block-image'><a><img src="/static/img/PQSSite.PNG" alt="custom-product-management-tool" /></a></div>
        <div class='block-body clearfix'>Product tracking, quality system, customized Drupal solution</div>
    </div>
</div>

<div class='block col-12 col-md-6 col-xl-4'>
    <div class='block-inner'>
        <div class='block-title'>Children's Organization</div>
        <div class='block-image'><a><img src="/static/img/RainbowRabbit.PNG" alt="childrens-organization" /></a></div>
        <div class='block-body clearfix'>E-commerce development and optimization using Drupal</div>
    </div>
</div>

<div class='block col-12 col-md-6 col-xl-4'>
    <div class='block-inner'>
        <div class='block-title'>Service Industry</div>
        <div class='block-image'><a><img src="/static/img/ESSite.JPG" alt="service-industry" /></a></div>
        <div class='block-body clearfix'>Custom theme and PHP code development</div>
    </div>
</div>

<div class='block col-12 col-md-6 col-xl-4'>
    <div class='block-inner'>
        <div class='block-title'>Professional Services Web Development</div>
        <div class='block-image'><a><img src="/static/img/BLFSite.png" alt="professional-services" /></a></div>
        <div class='block-body clearfix'>
            WordPress public site customized for client.
            Customized internal tool using Drupal for managing clients, resources and events.
        </div>
    </div>
</div>

<div class='block col-12 col-md-6 col-xl-4'>
    <div class='block-inner'>
        <div class='block-title'>TS Consulting Web Development</div>
        <div class='block-image'><a><img src="/static/img/TSC Sample.JPG" alt="ts-consulting" /></a></div>
        <div class='block-body clearfix'>Consulting service in medical field using WordPress</div>
    </div>
</div>

<div class='block col-12 col-md-6 col-xl-4'>
    <div class='block-inner'>
        <div class='block-title'>Non-Profit Organization Web Development</div>
        <div class='block-image'><a><img src="/static/img/LSPC Sample.JPG" alt="non-profit-organization" /></a></div>
        <div class='block-body clearfix'>Religious sector and congregation updates.</div>
    </div>
</div>
