<div class='block col-12'>
  <div class='block-inner'>
    <div class='block-title'>Web Applications</div>
    <div class='block-body'>
      Site and application development ranges from lightweight micro-sites or blogs to complex interactive micro-service/API driven web applications.
      Our sites include aspects of frontend development (React, Javascript/ES6, HTML, SASS), mobile (React-Native), backend development (databases, APIs and content managaement) and business logic, machine learning and automation (node.js, python, php, C#, Java).
      Clients include professional firms, product based firms, non-profit organizations, consulting service and medical/healthcare.
      <a href="/contact">Contact us</a> to schedule a free demo and consultation to scope your project.
    </div>
    <div class='block-button'>
      <a class='btn btn-primary btn-sm' href='/applications'>Projects & Processes</a>
      <a class='btn btn-primary btn-sm' href='/about'>About Us</a>
      <a class='btn btn-primary btn-sm' href='./contact'>Contact Us</a>
    </div>
  </div>
</div>
