<div class='block col-12 col-lg-6'>
  <div class='block-inner'>
    <a name='development'>
    <div class='block-title'>Development & Processes</div>
    <div class='block-body'>
      <ul>
        <li>Agile (Kanban/Scrum) and Conventional (SDLC) Project Management</li>
        <li>Behavior (BDD) and Test Driven Development (TDD)</li>
        <li>Quality Assurance with Unit and Automated Functional Testing</li>
        <li>Cross-Browser and Cross-Device Testing.</li>
        <li>Regulatory Compliance (PII, HIPAA, ISO) & Requirements Traceability</li>
        <li>User Experience Design & Prototyping</li>
        <li>Concept Generation & Capture</li>
        <li>Source Code Control (GIT, Bitbucket, GitHub)</li>
        <li>Issue Tracking</li>
        <li>Automated Deployments & Integration</li>
        <li>Themes & /Template</li>
        <li>CMS Plugin/Module Development</li>
        <li>Custom Development (MVC Frameworks)</li>
        <li>Web Services & APIs (RESTful)</li>
        <li>Media Integration</li>
        <li>Social Integration</li>
        <li>Client Side (Single Page Applications/SPA, Server Side Rendering/SSR)</li>
        <li>Mobile Applications (Hybrid iPhone/Android)</li>
        <li>External Service Integration (eCommerce, AMS, Authentication)</li>
        <li>Responsive (Mobile) Design</li>
        <li>Search Engine Optimization</li>
        <li>Hosting Management & Support</li>
        <li>Database Design & Management</li>
        <li>Search & Indexing</li>
        <li>Machine Learning & Analytics</li>
        <li>Offline & Batch Processing</li>
        <li>Backup & Disaster Recovery</li>
        <li>High Availablilty (Vertical & Horizontal Scaling)</li>
        <li>Security & Load Testing</li>
      </ul>
    </div>
  </div>
</div>
