<div class='block col-12 col-lg-6'>
  <div class='block-inner'>
    <a name='tools'>
    <div class='block-title'>Tools & Methods</div>
    <div class='block-body'>
      <ul>
        <li>Agile Project Management (Jira, Kanban & Scrum)</li>
        <li>Behavior (BDD) Driven Development: Cucumber, CucumberJS</li>
        <li>Business Analysis (BDD, Confluence)</li>
        <li>Concept Generation & Capture (UML, Lucid)</li>
        <li>Platforms: AWS, Linux (Centos, Ubuntu), Windows</li>
        <li>Databases: SQL Server, MySQL, MariaDB, PostresSQL, MongoDB</li>
        <li>Search & Indexing, Reports: Elastic, SOLR, Kibana</li>
        <li>Frontend (Client) Platforms: React, React-Native, Vue, AngularJS/2+</li>
        <li>Frontend Tools: Javascript, ES6, Typescript, SASS/CSS, jQuery, Bootstrap4</li>
        <li>State Management: Redux, MobX</li>
        <li>BackendTools:  Node.js, Python, PHP, C/C++/C#, Java</li>
        <li>APIs: RESTful, JSON, XML, AJAX</li>
        <li>CMS: Drupal 7/8 & WordPress</li>
        <li>Frameworks: Express, Django, </li>
        <li>Micro-Frameworks:  Flask, Slim, Express</li>
        <li>Automated Testing: Selenium, Katalon, TestCafe, Mocha, Chai, CucumberJS (BDD)</li>
        <li>Cross-Browser & Device Testing:  BrowserStack</li>
        <li>Media Integration: YouTube, Vimeo</li>
        <li>Social Integration: Facebook, Twitter, LinkedIn</li>
        <li>Headless CMS (Content Managment): Contentful, Prismo</li>
        <li>Security & Load Testing: Nessus, Tinfoil, JMeter</li>
      </ul>
    </div>
  </div>
</div>
