<div class='block col-12 col-lg-4'>
  <div class='block-inner'>
    <div class='block-image'>
      <img src="/static/img/data_sci.jpg">
    </div>
  </div>
</div>

<div class='block col-12 col-lg-8'>
  <div class='block-inner'>
    <div class='block-body'>
      <div>
        Sites can range from very focused microsites sites
        to complex micro-service database driven web applications.
        We are versatile and help select the optimium platform and technology
        for your application.
        Sample and key tools and processes, as well as technology stacks, are listed below.
        We develop both external & internal applications with full product life cycle management and support.
      </div>
      <div class='block-body-list'>
        <ul>
 
          <li>Data science using Python stack (numpy, pandas, scikit, matplotlib) and deep learning/LLMs (PyTorch/Tensorflow).</li>
          <li>Backend development focused on Python, node.js and also PHP.</li>
          <li>Frameworks including Django, Flask, FastAPI, Laravel, Express.</li>
          <li>Frontend web and mobile development using React, React-Native, HTML, CSS, SASS, Javascript, Bootstrap.</li>
          <li>Cloud focused with emphasis on AWS on both servers and lambdas as various data (RDS, Aurora, Dynamo).</li>
          <li>Database using SQL, PosgreSQL, MySQL, MongoDB, Aurora, Dynamo.</li>
          <li>Typical <a href=#development>development</a> processes and key <a href='#tools'>tools & technologies</a> are listed below.</li>
        </ul>
        <ul>
          <li>BIG Business Innovation Award for outstanding contributions to innovation in artificial intelligence and machine learning for healthcare and wellness platforms.</li>
          <li>SmartCEO Excellence Awards for exceptional achievements in cloud computing applications.</li>
          <li>See our <a href="./processes">examples</a> of our award winning work and recognitions.</a>
        </ul>
        <ul>
          <li>See our <a href="./about">bios</a> for references to specific project contributions.</li>
          <li><a href='./contact'>Contact us</a> to discuss your project, requirements, tools and plan.</li>
        </ul>
      </div>
      <div class='block-body-button-more'>
        <a class='btn btn-primary btn-sm' href='./processes'>Projects & Processes</a>
        <a class='btn btn-primary btn-sm' href='./about'>About Us</a>
        <a class='btn btn-primary btn-sm' href='./contact'>Contact Us</a>
      </div>
    </div>
  </div>
</div>
