<div class='block col-12'>
  <div class='block-inner'>
    <div class='block-title'>Web Applications & Tools</div>
    <div class='block-body'>
      Contact us for samples of customized proprietary applications, and other custom websites and tools, that can help you more effectively run your business.
      While most of this work is proprietary to our customers, we are glad to give you a live web video demo of our own internal web applications that form the starting framework for most of our custom projects.
      We use our own products every day and love to show you how they help us.
      They are easy and fun to use, but are also secure and reliable to support many ISO and FDA audits.
      The principals have taken many years of product development, commercialization and quality systems experiences and
      packaged into two web applications (sfs-track and sfs-simulation) they have used repeatedly to rapidly and predictably develop high quality system solutions
      for information, products and process.
    </div>
    <div class='block-button'>
      <a class='btn btn-primary btn-sm' href='/applications'>Projects & Processes</a>
      <a class='btn btn-primary btn-sm' href='/about'>About Us</a>
      <a class='btn btn-primary btn-sm' href='./contact'>Contact Us</a>
    </div>
  </div>
</div>
