
<div class='block col-12 col-lg-6'>
    <div class='block-inner'>
        <div class='block-title'>Quality Management System</div>
        <div class='block-body clearfix'>
            SFS-Track is an example of a quality management tool that can be customized to track your projects and business from customers,
            proposals/quotes, user requirements, concepts, use cases, design specifications, design documentations,
            validation testing and requirements traceability.
            Key features include risk management (FMEA), field service and continuous improvement projects
            (deliveries, installations and training, phone/on-site support, complaints and CAPA-Six Sigma).
        </div>
        <div class='block-button'>
            <a class='btn btn-primary btn-sm' href="/contact">Contact Us for More Information</a>
        </div>
    </div>
</div>

<div class='block col-12 col-lg-6'>
    <div class='block-inner'>
        <div class='block-title'>System Simulation</div>
        <div class='block-body clearfix'>
            Using SFS-Simul, you can simulate the critical performance characteristics of your system.
            The models evolve with the project, from simple engineering feasibility calculations at the concept phase,
            to design optimization tools (used in conjunction with statistical design of experiments),
            to development of software user interfaces and experiences, to software control algorithm software,
            to risk analysis and failure mode simulation and finally to sales and training tools to support deployment.
            We can help use simulations to optimize your product and delivery.
        </div>
        <div class='block-button'>
            <a class='btn btn-primary btn-sm' href="/contact">Contact Us for More Information</a>
        </div>
    </div>
</div>
