<div class='block col-12 col-md-6 col-xl-4'>
  <div class='block-inner'>
    <div class='block-title'>Endoscopic Cryosurgery Medical Device</div>
    <div class='block-subtitle'>
        <div><img src="/static/img/PublicationIcon.jpg" alt="" title="Publication" /> Patented (Mulitple)</div>
    </div>
    <div class='block-image'><img src="/static/img/truFrz.jpg" alt="molecular-diagnostic-robotics" /></div>
    <div class='block-body clearfix'>
      A cryosurgery system for application of medical-grade liquid nitrogen via a small,
      low pressure, open tipped catheter.
      The system includes a console, touch panel computer, cryogen module,
      suction module, electronics module, and disposable spray kit.
      Features include cryogen flow cryogen flow control and consistency,
      integrated suction pump with self-checks,
      pressure sensing during a treatment,
      and novel catheter designs.
    </div>
    <div class='block-button'>
      <a class='btn btn-primary btn-sm' target="_blank" href="http://csamedical.com">Learn More</a>
      <a class='btn btn-primary btn-sm' target="_blank" href="https://patents.justia.com/inventor/ron-burr">Read More</a>
    </div>
  </div>
</div>
  
<div class='block col-12 col-md-6 col-xl-4'>
  <div class='block-inner'>
    <div class='block-title'>Macrosonix Powder Mixing</div>
    <div class='block-subtitle'>
      <div><img src="/static/img/PublicationIcon.jpg" alt="" title="Publication" />Journal Front-Page Article</div>
    </div>
    <div class='block-image'><img src="/static/img/MacroSonixMixer.jpg" alt="macrosonix-sonic-power-mixer" /></div>
    <div class='block-body clearfix'>
      Sonic power mixing processing product platform.
      Industry recognition for break-through sonic powder mixing processing product platform.
      Applied fluidic simulations to characterize the activity and drove optimized design of experiments (DOE) to improve product performance and reliability.
    </div>
    <div class='block-button'>
      <a class='btn btn-primary btn-sm' href="./img/MacroSonix-Acoustic-Powder-Processing.pdf" target="_blank">Read More</a>
      <a class='btn btn-primary btn-sm' href='./msx-sonic-mixers'>Learn More</a>
    </div>
  </div>
</div>


<div class='block col-12 col-md-6 col-xl-4'>
  <div class='block-inner'>
    <div class='block-title'>Molecular Diagnostic Robotic Automation</div>
    <div class='block-subtitle'><div><img src="/static/img/Ribbon.jpg"> BD Howe Award</div></div>
    <div class='block-image'><img src="/static/img/VXTR.png" alt="molecular-diagnostic-robotics" /></div>
    <div class='block-body clearfix'>
      Award winning molecular diagnostic robotics drives mainstream diagnostics lab adoption.
      Robotic instrument for molecular diagnostic testing.
      Implemented concept characterization and design of experiment tools to obtain rapid FDA clearance and to
      secure multi-million dollar contract with leading national reference laboratory.
      Developed customized requirements management tool for improved traceability.
    </div>
    <div class='block-button'>
      <a class='btn btn-primary btn-sm' href="/static/doc/BD-Viper-ER-Molecular-Diagnostic-Automation-Platform.pdf">Read More</a>
    </div>
  </div>
</div>

<div class='block col-12 col-md-6 col-xl-4'>
  <div class='block-inner'>
    <div class='block-title'>Electro-Magnetic Molecular Extraction</div>
    <div class='block-subtitle'><div><img src="/static/img/Ribbon.jpg"> BD Howe Award</div></div>
    <div class='block-image'><img src="/static/img/bd_xtr_magnetic_extraction.png" alt="molecular-diagnostic-robotics" /></div>
    <div class='block-body clearfix'>
      Electro-magnetic molecular extraction enables new applications.
      Enhanced the automated sample processing and furthered the contract with national reference laboratory including over 100 placements in testing laboratories across the US.
      Applied reliability growth tools to increase the system Mean Time Between Failure (MTBF).
    </div>
    <div class='block-button'>
      <a class='btn btn-primary btn-sm' href="/static/doc/BD-Viper-XTR-Molecular-Diagnostic-Automation-Platform.pdf">Read More</a>
    </div>
  </div>
</div>


<div class='block col-12 col-md-6 col-xl-4'>
  <div class='block-inner'>
    <div class='block-title'>Tektronix Phaser Platform</div>
    <div class='block-subtitle'>
      <div><img src="/static/img/Ribbon.jpg" alt="" title="Howard Vollum Award For Technical Excellence" /> Howard Vollum Award; Presidents Award</div>
      <div><img src="/static/img/PublicationIcon.jpg" alt="" title="Publication" /> Patented (Mulitple)</div>
    </div>
    <div class='block-image'>
      <img src="/static/img/dot_size_modulation_patent.png" alt="tektronix-ink-jet-dot-size-technology" />
    </div>
    <div class='block-body clearfix'>
      Patented Phase Change Ink Jet Technology Platform yields keynotes and $975M acquisition
      Patented phase change ink jet technology platform.
      Continuous improvement of existing key technology.
      Used computer simulations and design of experiments to achieve variable resolution and high speed stability and consistency.
    </div>
    <div class='block-button'>
      <a class='btn btn-primary btn-sm' href="https://www.imaging.org/IST/IST/Bookstore/Static/RP/RP_IJ2.aspx" target="_blank">Published</a>
      <a class='btn btn-primary btn-sm' href="/static/doc/Tektronix-Inc-Phase-Modular-Printing-Press-Technology.pdf">Read More</a>
    </div>
  </div>
</div>

<div class='block col-12 col-md-6 col-xl-4'>
  <div class='block-inner'>
    <div class='block-title'>Imaging & Printing Technology</div>
    <div class='block-subtitle'>
      <div><img src="/static/img/Ribbon.jpg"> PC Magazine Award Winning</div>
      <div><img src="/static/img/PublicationIcon.jpg" alt="" title="Publication" /> Patented (Mulitple)</div>
    </div>
    <div class='block-image'>
      <img src="/static/img/Tek 340.jpg" alt="tektronix-ink-jet-technology" />
    </div>
    <div class='block-body clearfix'>
      Patented phase change ink jet technology platform.
      Developed breakthrough product for high speed office printing by using acoustic simulations to drive an optimized product.
      Six sigma tools applied to produce robust and reliable printer with patented technology.
    </div>
    <div class='block-button'>
      <a class='btn btn-primary btn-sm' href="https://www.imaging.org/IST/IST/Bookstore/Static/RP/RP_IJ2.aspx" target="_blank">Published</a>
      <a class='btn btn-primary btn-sm' href="/doc/Tektronix-Inc-Phaser-340-Office-Solid-Ink-Printer.pdf">Read More</a>
    </div>
  </div>
</div>

<div class='block col-12 col-md-6 col-xl-4'>
  <div class='block-inner'>
    <div class='block-title'>Linear Resonance Compressors</div>
    <div class='block-subtitle'>
      <div><img src="/static/img/PublicationIcon.jpg" alt="" title="Publication" /> Patented</div>
    </div>
    <div class='block-image'><img src="/static/img/linear_compressor.jpg" alt="" title="linear compressor" /></div>
    <div class='block-body clearfix'>
      Linear resonance compressors drive Macrosonic technology.
      Re-characterized the method for for compressing to achieve best in class products.
    </div>
    <div class='block-button'>
      <a class='btn btn-primary btn-sm' href="/static/doc/MacroSonix-Linear-Resonance-Compressors.pdf">Read More</a>
    </div>
  </div>
</div>

<div class='block col-12 col-md-6 col-xl-4'>
  <div class='block-inner'>
    <div class='block-title'>Macrosonic Cooling System</div>
    <div class='block-subtitle'>
      <div><img src="/static/img/Ribbon.jpg" alt="" title="Best of Session Award" /> Best-of-Session</div>
    </div>
    <div class='block-image'>
      <img src="/static/img/othr_refrig.jpg" alt="" title="oil-less sonic cooling system" />
    </div>
    <div class='block-body clearfix'>
      Generated concept for variable capacity vapor compression cooling and further optimized with design of experiments.<br />
    </div>
    <div class='block-button'>
      <a class='btn btn-primary btn-sm' href="/static/doc/MacroSonix-Variable-Capacity-Oiless-Vapor-Compression-Cooling-Unit.pdf">Read More</a>
    </div>
  </div>
</div>

<div class='block col-12 col-md-6 col-xl-4'>
  <div class='block-inner'>
    <div class='block-title'>Linear Motor Patented Design</div>
    <div class='block-subtitle'>
      <div><img src="/static/img/PublicationIcon.jpg" alt="" title="Publication" /> Patented</div>
    </div>
    <div class='block-image'>
      <img src="/static/img/lmc_motor.jpg" alt="" title="linear motor" />
    </div>
    <div class='block-body clearfix'>
      Patented bearing free variable reluctance linear motors drives.
    </div>
    <div class='block-button'>
      <a class='btn btn-primary btn-sm' href="">Read More</a>
    </div>
  </div>
</div>
