<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="./css/style.css">
      <link rel="stylesheet" href="./css/personal.css">
      <title>{% block title %}Ron Burr{% endblock %}</title>
    {% endblock %}
  </head>
  <body id='{{ page }}' class='{{ css }}'>
    <div id='page'>
      <div id='header' class='container-fluid'>
        <div id='header-inner' class='row'>
          <div id='header-brand' class='col-12 col-lg-4'>
            <div id='header-title'>
              <a href='./ron-burr' title="Ron Burr">
                <span id='header-title-left'>RONALD</span>
                <span id='header-title-right'>BURR</span>
              </a>
            </div>
          </div>
          <div id='header-nav' class='col-12 col-lg-8'>
            <a href='#personal-summary' title="Summary">Summary</a>
            <a href='#personal-skills-technical' title="Technical & Core Skills">Skills</a>
            <a href='#personal-experience' title="Professional Experience">Experience</a>
            <a href='#personal-awards' title="Industry Recognitions & Awards">Awards</a>
            <a href='#personal-education' title="Education & Training">Education</a>
            <a href='#personal-hobbies' title="Personal Background & Interests">Person</a>
            <a class='social' target='_blank' href='./' title="Stonefly Systems">SFS</a>
            <a class='social' target='_blank' href='https://linkedin.com/in/ron-burr' title="LinkedIn">in</a>
          </div>
        </div>
      </div>

      <div id='main' class='container-fluid'>
        <div id='main-banner'>
          {% block main_banner %}{% endblock %}
        </div>
        <div id='main-inner'>
          <div id='main-header'>
            {% block main_header %}{% endblock %}
          </div>
          <div id="content">
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>

      <div id="footer">
        {% block footer %}
          <div id='footer-title'>
            <a href='./'>
              <span id='footer-title-left'>STONEFLY</span>
              <span id='footer-title-right'>SYSTEMS</span>
            </a>
          </div>
          <div id="footer-content">
            <a href="./contact">Email: ronburr@stoneflysystems.com</a>
          </div>
          <div id='footer-copyright'>
            <span>&copy;2023 Stonefly Systems, Inc.  All rights reserved.</span>
          </div>
        {% endblock %}
      </div>

    </div>
  </body>
</html>